bcrypt==4.2.1
blinker==1.9.0
cachelib==0.13.0
certifi==2025.1.31
chardet==5.2.0
charset-normalizer==2.0.12
click==8.1.8
cryptocode==0.1
DateTime==4.3
dnspython==2.7.0
email-validator==1.1.2
Flask==2.0.1
Flask-Admin==1.6.0
Flask-Bcrypt==0.7.1
Flask-Excel==0.0.7
Flask-Login==0.5.0
Flask-Principal==0.4.0
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
greenlet==3.1.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
lml==0.1.0
MarkupSafe==3.0.2
mysql-connector-python==9.2.0
mysqlclient==2.1.0
phonenumbers==8.11.0
pycryptodomex==3.21.0
pyexcel==0.7.0
pyexcel-io==0.6.7
pyexcel-webio==0.1.4
PyMySQL==1.1.1
python-barcode==0.15.1
pytz==2025.1
requests==2.26.0
SQLAlchemy==1.4.44
texttable==1.7.0
typing_extensions==4.12.2
urllib3==1.26.20
Werkzeug==2.0.1
WTForms==3.2.1
