{% if charts_data is defined %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<div class="p-3 row">
  {% for chart in charts_data %}
    {% if chart.col is defined %}
      {% set col_sm = chart.col %}
    {% else %}
      {% if charts_data|length == 1  %}{% set col_sm = '12' %}{% else %}{% set col_sm = '6' %}{% endif %}
    {% endif %}
                 
    <div class="border border-light shadow-lg rounded text-center p-3 col-sm-{{col_sm}}">
      <div class="p-5 bg-dark text-white">
        <!-- display only valid charts this work good with js too -->
        {% if chart.id is defined and chart.data is defined and chart.labels is defined and chart.label is defined %}
        <canvas id="{{chart.id}}"></canvas>
        <div id="addons_{{chart.id}}">

        </div>
        {% else %}
          <div class="alert alert-danger text-center h">Unable to Display chart right now.</div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
<script>
    var chartsData = {{charts_data|tojson|safe}};

    addEventListener("DOMContentLoaded", (event) => {
      const charts = {};
      const options = {
            scales: {
              y: {
                beginAtZero: true,
              }
            },
      };
      backGroundColors = undefined;
      borderColors = undefined;
      
      chartsData.forEach( (chartData)=>{
        if (chartData && chartData.id && chartData.type && chartData.data && chartData.labels && chartData.label && document.querySelector(`canvas#${chartData.id}`) && Array.isArray(chartData.data) && Array.isArray(chartData.labels) && chartData.data.length == chartData.labels.length){
          
          const ctx = document.querySelector(`canvas#${chartData.id}`);
    
          /* add the description and the ajax year select or any other config addons */
          const addonsElm = document.querySelector(`#addons_${chartData.id}`);
          let addonsHTML = '<p>';
          if (addonsElm){
    
            if (chartData.description){
              addonsHTML += `<span>${chartData.description} </span>`;
            }
            /* custom ajax html select box added dynamic by server (filter_year_component) */
            if (chartData.year_picker_ajax && Array.isArray(chartData.year_picker_ajax.years)){
    
              let selectOptions = '';
              chartData.year_picker_ajax.years.forEach( (yearOption)=>{
                selectOptions += `<option value="${yearOption}">${yearOption}</option>`;
              });
              addonsHTML += `<select data-chart='${chartData.id}'>${selectOptions}</select>`;
            }
            addonsElm.innerHTML = `${addonsHTML}</p>`; 
          }
          
          
          /* optional set background colors and labels if provided from server */
          if ( chartData.background_colors && Array.isArray(chartData.background_colors) ){
            backGroundColors =  chartData.background_colors;
          }
          if ( chartData.border_colors && Array.isArray(chartData.border_colors) ){
            borderColors =  chartData.border_colors;
          }

          // fix chart.js long text
          let currentLabels = chartData.labels;
          if (chartData.type.trim() == 'bar'){
            currentLabels = chartJsLabelsFix(currentLabels);
          }
          
          var data = {
            labels: currentLabels,
            datasets: [{
              label: chartData.label,
              data: chartData.data,
              backgroundColor: backGroundColors,
              borderColor: borderColors,
              borderWidth: 1,
              description: 'white'
            }]
          };
    
          const config = {
            type: chartData.type,
            data: data,
            options: options,
          };
          Chart.defaults.global.defaultFontColor = "#fff";
          const newChart = new Chart(ctx, config);
          charts[chartData.id] = newChart;
        } else {
          console.log('Invalid Chart object found, ignored.');
        }
      });
    
    });


/* fix for long texts in bar charts */
function wordBreakAll(str) {
  // return string or array of strings based on max length
  const maxLength = 9;
  let current = '';
  if (str.length > maxLength){
      current = [];
      let counter = 0;
      let part = '';
      for (let i=0; i<str.length; i++) {
          counter += 1;
          if (counter < maxLength && i != (str.length - 1)) {
              part += str[i];
          } else if (counter == maxLength) {
              part += str[i];
              current.push(part);
              part = '';
              counter = 0;
          } else if (counter < maxLength && i == (str.length - 1)) {
              part += str[i];
              current.push(part);
              part = '';
              counter = 0;
          } else {
              throw 'error from wordBreaker';
          }
      }
  } else {
      current = str;
  }
  return current;
}

function chartJsLabelsFix(labels){
    const newLabels = [];
    labels.forEach((labelStr)=>{
        newLabels.push(wordBreakAll(labelStr));
    });
    return newLabels;
}
</script>
{% else %}
<div class="alert alert-danger text-center h">Unable to Display charts right now.</div>
{% endif %}