{% extends 'base.html' %}
{% block title %}Add Listing{% endblock %}
{% block page_description %}This is form to add new Manual Listing Product{% endblock %}
{% block body %}
<div class="container border rounded p-3">
  {% include 'messages.html' %}
  <div class="d-flex justify-content-end align-items-center flex-wrap">
    {% if dashboard_id %}
    <a href="{{url_for('routes.listings', dashboard_id=dashboard_id)}}" type="button" class="btn btn-primary">
      Back To Listings
    </a>
    <a href="{{url_for('routes.view_dashboard', dashboard_id=dashboard_id)}}" type="button" class="btn btn-success ml-2">
        Back To Dashboard {{dashboard_id}}
    </a>    
    {% endif %}
  </div>
  <div class="container-fluid content_container">
    <div class="row">
      <!-- Logged User Dashboards  -->
      {% if dashboard_id and form %}
      <div class="col-12 p-3 d-flex justify-content-center align-items-center cursor-pointer text-decoration-none text-dark media_small_width_100">
        <div class="container">
            <form action="{{url_for('routes.add_listing', dashboard_id=dashboard_id)}}" method="POST">          
              {{form.hidden_tag()}}
              <div class="form-group">
                {{form.catalogue_id.label}}
                {{form.catalogue_id(class='form-control', placeholder='Catalogue')}}
                
                {% if form.catalogue_id.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in form.catalogue_id.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div class="form-group">
                {{form.platform.label}}
                {{form.platform(class='form-control', placeholder='Plateform')}}

                {% if form.platform.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in form.platform.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div class="d-flex justify-content-center align-items-center w-50 mx-auto">
                {{form.add(class='btn btn-success w-50')}}
                <a href="{{url_for('routes.listings', dashboard_id=dashboard_id)}}" class="btn btn-primary w-50">Cancel</a>
              </div>
            </form>
        </div>
      </div>
      {% else %}
      <div class="alert alert-danger">Unable to Display Add Dashboards form right now.</div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}



