{% extends 'base.html' %}
{% block title %}Add Purchase{% endblock %}
{% block page_description %}This is form to add new Purchase{% if listing_id %} For Listing ID: ({{listing_id}}){% endif %}{% endblock %}
{% block head_data %}
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}
{% block body %}
<div class="container border rounded p-3">
  {% include 'messages.html' %}

  <a href="{{url_for('routes.listings')}}" type="button" class="btn btn-light">
    Back To Listings
  </a>
  <div class="d-flex justify-content-end align-items-center">
    {% if listing_id %}
    <a href="{{url_for('routes.view_listing', listing_id=listing_id)}}" type="button" class="btn btn-outline-warning">
      Back To Listing ({{listing_id}})
    </a>
    {% endif %}
  </div>
  <div class="container-fluid content_container">
    <div class="row">
      <!-- Logged User Dashboards  -->
      {% if form and listing_id %}
      <div class="col-12 p-3 d-flex justify-content-center align-items-center cursor-pointer text-decoration-none text-dark media_small_width_100">
        <div class="container">
            <form action="{{url_for('routes.add_purchase_listing', listing_id=listing_id)}}" method="POST">          
              {{form.hidden_tag()}}
              <div class="form-group">
                {{form.supplier_id.label}}
                {{form.supplier_id(class='form-control', placeholder='Supplier')}}
                
                {% if form.supplier_id.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in form.supplier_id.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div class="form-group">
                {{form.listing_id.label}}
                {{form.listing_id(class='form-control', placeholder='Listing')}}
                
                {% if form.listing_id.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in form.listing_id.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div class="form-group">
                {{form.quantity.label}}
                {{form.quantity(class='form-control', placeholder='Quantity')}}
                
                {% if form.quantity.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in form.quantity.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div class="form-group">
                {{form.date.label}}
                {{form.date(class='form-control', placeholder='Date')}}
                
                {% if form.date.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in form.date.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div class="d-flex justify-content-center align-items-center w-50 mx-auto">
                {{form.add(class='btn btn-success w-50')}}
                <a id="cancel_link" href="{{url_for('routes.view_listing', listing_id=listing_id)}}" class="btn btn-primary w-50">Cancel</a>
              </div>
            </form>
        </div>
      </div>
      <script>
        /* add search select input */
        $(document).ready(function() {            
            $('#supplier_id').select2({  // init Select2 on form's name field
                placeholder: "{{ form.supplier_id.label.text }}",
                allowClear: true,
                "width": "100%"
            });
            $('#listing_id').select2({  // init Select2 on form's name field
                placeholder: "{{ form.listing_id.label.text }}",
                allowClear: true,
                "width": "100%"
            });


        });
        let customRedirect = {% if redirect_url %}{{redirect_url|tojson}}{% else %}null{% endif %};
        $(document).ready(function() {
            setFormRedirectByUrl(customRedirect);
        });
      </script>
      {% else %}
      <div class="alert alert-danger">Unable to Display Add Purchase form right now.</div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}