{% extends 'base.html' %}
{% block title %}Add Catalogue{% endblock %}
{% block page_description %}This is form to add new Manual New Catalogue{% endblock %}
{% block body %}
<div class="container border rounded p-3">
  {% include 'messages.html' %}
  {% if form %}
  <div class="d-flex justify-content-end align-items-center flex-wrap">
    <a href="{{url_for('routes.catalogues')}}" type="button" class="btn btn-primary">
      Back To Catalogues
    </a>
  </div>
  <div class="container-fluid content_container">
    <div class="row">
      <div class="col-12 p-3 d-flex justify-content-center align-items-center cursor-pointer text-decoration-none text-dark media_small_width_100">
        <div class="container">
            <form action="{{url_for('routes.add_catalogue')}}" method="POST">          
              {{form.hidden_tag()}}
              <div id="top_form_btns">
                <div id="form_btns" class="d-flex justify-content-end align-items-center w-50 ml-auto">
                  {{form.add(class='btn btn-success w-w_100px')}}
                  <a href="{{url_for('routes.catalogues')}}" class="btn btn-primary w_100px">Cancel</a>
                </div>
              </div>
              <div class="form-group">
                {{form.sku.label}}
                {{form.sku(class='form-control', placeholder='SKU')}}
                
                {% if form.sku.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in form.sku.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div class="form-group">
                {{form.product_name.label}}
                {{form.product_name(class='form-control', placeholder='Product Name')}}
                
                {% if form.product_name.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in form.product_name.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div class="form-group">
                {{form.brand.label}}
                {{form.brand(class='form-control', placeholder='Brand')}}
                
                {% if form.brand.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in form.brand.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div class="form-group">
                {{form.category_code.label}}
                {{form.category_code(class='form-control', placeholder='Category')}}
                
                {% if form.category_code.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in form.category_code.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>              
              <div class="form-group">
                {{form.price.label}}
                {{form.price(class='form-control', placeholder='Price')}}

                {% if form.price.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in form.price.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>

              <div class="form-group">
                {{form.sale_price.label}}
                {{form.sale_price(class='form-control', placeholder='Sale Price')}}

                {% if form.sale_price.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in form.sale_price.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>

              <div class="form-group">
                {{form.quantity.label}}
                {{form.quantity(class='form-control', placeholder='Quantity')}}

                {% if form.quantity.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in form.quantity.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
                 
              <div class="form-group">
                {{form.product_model.label}}
                {{form.product_model(class='form-control', placeholder='Product Model')}}

                {% if form.product_model.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in form.product_model.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div class="form-group">
                {{form.upc.label}}
                {{form.upc(class='form-control', placeholder='UPC')}}

                {% if form.upc.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in form.upc.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div class="form-group">
                {{form.condition.label}}
                {{form.condition(class='form-control', placeholder='Condition')}}

                {% if form.condition.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in form.condition.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div class="form-group">
                {{form.warehouse_locations.label}}
                {{form.warehouse_locations(class='form-control', placeholder='Select Locations')}}

                {% if form.warehouse_locations.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in form.warehouse_locations.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div class="form-group">
                {{form.locations_bins.label}}
                {{form.locations_bins(class='form-control', placeholder='Select Bin')}}

                {% if form.locations_bins.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in form.locations_bins.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>              
              <div class="form-group">
                {{form.product_description.label}}
                {{form.product_description(class='form-control', placeholder='Product Description')}}

                {% if form.product_description.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in form.product_description.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>                                        
              <div id="bot_form_btns" class="mt-3"></div>
            </form>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="alert alert-danger">Unable to Display Add Product form right now.</div>
  {% endif %}
</div>
{% if locations_bins_data %}
<script src="{{url_for('static', filename='assets/js/many_to_many_selector.js')}}" type="text/javascript"></script>
<script>
const locations = [];
const locationsBinsData = {{locations_bins_data|tojson|safe}};
manyToManySelectorsComponent(
  locations_bins_data=locationsBinsData, 
  actionsCbs=[
    (onWareHouseChange)=>{onWareHouseChange(event=null, handleBySelectedWareHouse=true);},
    (onWareHouseChange)=>{$("#warehouse_locations").on("change", onWareHouseChange);}
  ]);
// toggle add, cancel buttons in top and bottom based on user poistion for better ux (if he will go scoll down and think he will find button at bottom it will found, if he scroll up or excpect to found the buttons on top he will found it at top)
toggleContentUpDown(contentSelector='#form_btns', upSelector='#top_form_btns', downSelector='#bot_form_btns');
</script>
{% endif %}
{% endblock %}




