{% extends 'base.html' %}
{% block title %}Edit Listing{% endblock %}
{% block page_description %}This is form to Edit Listing{% endblock %}
{% block head_data %}
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}
{% block body %}
<div class="container border rounded p-3">
  {% include 'messages.html' %}
  {% if listing_id and form %}
  <div class="d-flex justify-content-end align-items-center flex-wrap">
    <a href="{{url_for('routes.view_listing', listing_id=listing_id)}}" type="button" class="btn btn-primary">
        Back To Listing {{listing_id}}
    </a>
    <a href="{{url_for('routes.listings')}}" type="button" class="btn btn-success ml-2">
        Back To Listings
    </a>
  </div>
  <div class="container-fluid content_container">
    <div class="row">
      <div class="col-12 p-3 d-flex justify-content-center align-items-center cursor-pointer text-decoration-none text-dark media_small_width_100">
        <div class="container">
            <form action="{{url_for('routes.edit_listing', listing_id=listing_id)}}" method="POST">          
              {{form.hidden_tag()}}
              <div id="top_form_btns">
                <div id="form_btns" class="d-flex justify-content-end align-items-center w-50 ml-auto">
                  {{form.edit(class='btn btn-success w_100px')}}
                  <a href="{{url_for('routes.view_listing', listing_id=listing_id)}}" class="btn btn-primary w_100px">Cancel</a>
                </div>
              </div>
              <div class="form-group">
                {{form.catalogue_id.label}}
                {{form.catalogue_id(class='form-control', placeholder='Catalogue')}}
                
                {% if form.catalogue_id.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in form.catalogue_id.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div class="form-group">
                <div class="custom-control custom-checkbox">                  
                  {{form.active(class='custom-control-input', placeholder='Active')}}
                  {{form.active.label(class='custom-control-label', for='active')}}
                </div>
                {% if form.active.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in form.active.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div class="form-group">
                {{form.platform_id.label}}
                {{form.platform_id(class='form-control', placeholder='Platform')}}
                
                {% if form.platform_id.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in form.platform_id.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div class="form-group">
                {{form.discount_start_date.label}}
                {{form.discount_start_date(class='form-control', placeholder='Discount Start Date')}}

                {% if form.discount_start_date.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in form.discount_start_date.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>             
              <div class="form-group">
                {{form.discount_end_date.label}}
                {{form.discount_end_date(class='form-control', placeholder='Discount End Date')}}

                {% if form.discount_end_date.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in form.discount_end_date.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div class="form-group">
                {{form.unit_discount_price.label}}
                {{form.unit_discount_price(class='form-control', placeholder='Unit Discount Price')}}

                {% if form.unit_discount_price.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in form.unit_discount_price.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div class="form-group">
                {{form.unit_origin_price.label}}
                {{form.unit_origin_price(class='form-control', placeholder='Unit Origin Price')}}

                {% if form.unit_origin_price.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in form.unit_origin_price.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div class="form-group">
                {{form.quantity_threshold.label}}
                {{form.quantity_threshold(class='form-control', placeholder='Quantity Threshold')}}

                {% if form.quantity_threshold.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in form.quantity_threshold.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div class="form-group">
                {{form.currency_iso_code.label}}
                {{form.currency_iso_code(class='form-control', placeholder='Currency ISO Code')}}

                {% if form.currency_iso_code.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in form.currency_iso_code.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div class="form-group">
                {{form.shop_sku.label}}
                {{form.shop_sku(class='form-control', placeholder='Shop SKU')}}

                {% if form.shop_sku.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in form.shop_sku.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div class="form-group">
                {{form.offer_id.label}}
                {{form.offer_id(class='form-control', placeholder='Offer Id')}}

                {% if form.offer_id.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in form.offer_id.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div class="form-group">
                {{form.reference.label}}
                {{form.reference(class='form-control', placeholder='Reference')}}

                {% if form.reference.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in form.reference.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div class="form-group">
                {{form.reference_type.label}}
                {{form.reference_type(class='form-control', placeholder='Reference Type')}}

                {% if form.reference_type.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in form.reference_type.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div id="bot_form_btns" class="mt-3"></div>
            </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    /* add search select input */
    $(document).ready(function() {
        $('#catalogue_id').select2({  // init Select2 on form's name field
            placeholder: "{{ form.catalogue_id.label.text }}",
            allowClear: true,
            "width": "100%"
        });
    });
    // toggle add, cancel buttons in top and bottom based on user poistion for better ux (if he will go scoll down and think he will find button at bottom it will found, if he scroll up or excpect to found the buttons on top he will found it at top)
    toggleContentUpDown(contentSelector='#form_btns', upSelector='#top_form_btns', downSelector='#bot_form_btns');
  </script>
  {% else %}
  <div class="alert alert-danger">Unable to Display Edit Listing form right now.</div>
  {% endif %}
</div>
{% endblock %}



