{% extends 'base.html' %}
{% block title %}Edit Dashboard{% if dashboard %} {{dashboard.id}}{% endif %}{% endblock %}
{% block page_description %}This is form to Edit Dashboard{% if dashboard %}: {{dashboard.title}}{% endif %}{% endblock %}
{% block body %}
<div class="container border rounded p-3">
  {% include 'messages.html' %}
  {% if dashboard and edit_dashboard_form %}
  <div class="d-flex justify-content-end align-items-center flex-wrap">
    <!-- Button to Open the Modal for add new dashboard -->
    <a href="{{url_for('routes.view_dashboard', dashboard_id=dashboard.id)}}" type="button" class="btn btn-primary">
      Back To Dashboard ({{dashboard.id}})
    </a>
    <a href="{{url_for('routes.index')}}" type="button" class="ml-2 btn btn-success">
      Back To Home
    </a>
  </div>
  <div class="container-fluid content_container">
    <div class="row">
      <!-- Logged User Dashboards  -->
      <div class="col-12 p-3 d-flex justify-content-center align-items-center cursor-pointer text-decoration-none text-dark media_small_width_100">
        <div class="container">
            <form action="{{url_for('routes.edit_dashboard', dashboard_id=dashboard.id)}}" method="POST">          
              {{edit_dashboard_form.hidden_tag()}}
              <div class="form-group">
                {{edit_dashboard_form.title.label}}
                {{edit_dashboard_form.title(class='form-control', placeholder='Enter Title')}}
                
                {% if edit_dashboard_form.title.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in edit_dashboard_form.title.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div class="form-group">
                {{edit_dashboard_form.num_of_listings.label}}
                {{edit_dashboard_form.num_of_listings(class='form-control', placeholder='Total Listings', title='this number can changed when async dashboard')}}
                
                {% if edit_dashboard_form.num_of_listings.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in edit_dashboard_form.num_of_listings.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div class="form-group">
                {{edit_dashboard_form.num_of_orders.label}}
                {{edit_dashboard_form.num_of_orders(class='form-control', placeholder='Total Orders', title='this number can changed when async dashboard')}}
                
                {% if edit_dashboard_form.num_of_orders.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in edit_dashboard_form.num_of_orders.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div class="form-group">
                {{edit_dashboard_form.sum_of_monthly_purchases.label}}
                {{edit_dashboard_form.sum_of_monthly_purchases(class='form-control', placeholder='Total Monthly Purchases', title='this number can changed when async dashboard')}}
                
                {% if edit_dashboard_form.sum_of_monthly_purchases.errors %}
                <ul class="errors bg-danger text-white">
                    {% for error in edit_dashboard_form.sum_of_monthly_purchases.errors %}
                        <li class="p-1 mb-1">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
              </div>
              <div class="d-flex justify-content-center align-items-center w-50 mx-auto">
                {{edit_dashboard_form.edit(class='btn btn-success w-50')}}
                <!-- can be done with redirect url-->
                <a href="{{url_for('routes.view_dashboard', dashboard_id=dashboard.id)}}" class="btn btn-primary w-50">Cancel</a>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="alert alert-danger">Unable to Display Edit Dashboards form right now.</div>
  {% endif %}
</div>

{% endblock %}



