<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if self.title %}
  <title>{{self.title()}}</title>
  <meta name="title" content="{{self.title()}}" />
  <meta property="og:title" content="{{self.title()}}" />
  {% else %}
  <title>Inventory</title>
  <meta name="title" content="Inventory" />
  <meta property="og:title" content="Inventory" />
  {% endif %}
  
  {% if self.page_description %}
  <meta name="description" content="{{self.page_description()}}" />
  <meta property="og:description" content="{{self.page_description()}}" />
  {% endif %}
  
  

  <link rel="stylesheet" href="{{url_for('static', filename='assets/css/styles.css')}}">

  <link rel="stylesheet" href="{{url_for('static', filename='assets/libs/bootstrap-46/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="{{url_for('static', filename='assets/libs/jquery-3_6_3/jquery-3.6.3.js')}}"></script>
  <script src="{{url_for('static', filename='assets/libs/propper-1_16_1/popper.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/libs/bootstrap-46/js/bootstrap.bundle.min.js')}}"></script>

  <script src="{{url_for('static', filename='assets/js/app.js')}}"></script>

  {% if self.head_data %}
    {% block head_data %}{% endblock %}
  {% endif %}
  
</head>
<body>

<div class="container-fluid">
  <nav class="navbar navbar-expand-md bg-light navbar-light shadow">
    {% if current_user.is_authenticated %}
    <a class="navbar-brand" href="{{url_for('routes.index')}}"><img src="{{url_for('static', filename='assets/images/'~current_user.image|safe)}}"  style="max-height: 50px;"/></a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="w-100 navbar-nav">
        {% if current_user.is_authenticated %}
        <li class="ml-2 nav-item bg-light border">
          <a class="nav-link" href="{{url_for('routes.index')}}">Home</a>
        </li>
        <li class="ml-2 nav-item bg-light border">
          <a class="nav-link" href="{{url_for('routes.orders')}}">Orders</a>
        </li>
        <li class="ml-2 nav-item bg-light border">
          <a class="nav-link" href="{{url_for('routes.listings')}}">Listings</a>
        </li>
        <li class="ml-2 nav-item bg-light border">
          <a class="nav-link" href="{{url_for('routes.catalogues')}}">Catalogues</a>
        </li>
        <li class="ml-2 nav-item bg-light border">
          <a class="nav-link" href="{{url_for('routes.suppliers')}}">Suppliers</a>
        </li>              
        <li class="ml-2 nav-item bg-light border">
          <a class="nav-link" href="{{url_for('main.reports')}}">Reports</a>
        </li>
        <li class="ml-2 nav-item bg-light border">
          <a class="nav-link" href="{{url_for('routes.setup')}}">Setup</a>
        </li>
        <li class="nav-item border ml-auto bg-light">
          <a class="nav-link" href="{{url_for('auth.logout')}}">Logout</a>
        </li>
        <li class="ml-2 nav-item border bg-light">
          <a class="nav-link" href="{{url_for('main.profile')}}">Profile</a>
        </li>
        {% if current_user.isAdmin() %}
        <li class="ml-2 nav-item bg-light border">
          <a class="nav-link" href="{{url_for('admin.index')}}">Admin Dashboard</a>
        </li>
        {% endif %}
        {% else %}
        <li class="nav-item border bg-light">
          <a class="nav-link" href="{{url_for('auth.login')}}">Login</a>
        </li>  
        <li class="nav-item border bg-light">
          <a class="nav-link" href="{{url_for('auth.signup')}}">Signup</a>
        </li>      
        {% endif %}
      </ul>
    </div>
  </nav>
  <div class="jumbotron text-center header_bg">
    <h1>{% if self.title %}{{self.title()}}{% else %}Inventory App{% endif %}</h1>
    
    {% if self.page_description %}
    <p>{{self.page_description()}}</p>
    {% endif %}
  </div>

  
  {# jinja2 tool for back link, refere only for current webapp it set Null but user can change request better pass function to check secureRedirect or session or force not change refere by user #}
  {% set redirect_back = url_for('routes.index') %}
  {% if request.referrer and not request.referrer.endswith('/home') and not request.referrer.endswith('/') %}
  {% set redirect_back = request.referrer %}
  {% endif %}
   {% if request.endpoint != 'routes.index' %}
   <a href="{{redirect_back}}" id="back_jinja2_link" class="text-dark text-underlined"><i class="fa fa-arrow-left"> Back</i></a>
   {% endif %}
  {% block body %}{% endblock body %}

  
</div>



{% if self.page_scripts %}
{% block page_scripts %}{% endblock page_scripts %}
{% endif %}
</body>
</html>
