{% extends 'base.html' %}
{% block title %}Catalogues{% endblock %}
{% block page_description %}this is catalogues page, you can view/edit and add new catalogue{% endblock %}

{% block body %}
<div class="container border rounded p-3">
  {% include 'messages.html' %}
  <img src="{{url_for('static', filename='assets/images/loading_circle.gif')}}" class="loading_circle" style="display:none;" />
  <div class="container-fluid content_container">
    <div class="d-flex justify-content-between align-items-center mb-2">
        <!-- per page limit -->        
        {% set limit = session["limit"] %}
        <div class="d-flex justify-content-center align-items-center w_max_content">
          <label class="mr-1 minw_max_content">Limit: </label>
          <select id="limit_select" name="limit" class="form-control" data-save-limit="{{url_for('main.savelimit')}}" data-limit="{{limit}}">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option id="custom_limit_option" value="">custom</option>
          </select>
          <div style="display:none;" id="custom_limit_cont">
            <div class="d-flex justify-content-center align-items-center">
              <input class="form-control mx-1 w_100px" type="number" id="custom_limit_input" value="" placeholder="custom" min="1">
              <button class="btn btn-sm btn-primary ml minw_max_content" id="set_custom_btn">Set Custom</button>
            </div>
          </div>
        </div>
        <!-- per page limit end -->
        <!-- settings menu-->
        <div id="settings_toast_cont">
          <button type="button" class="btn btn-outline-primary mb-1" id="open_settings">Settings</button>
          <div id="settings_toast" class="toast shadow" data-autohide="false" style="display:none">
             <div class="toast-header bg-dark text-white">
                <span><i class="fa fa-gear"></i> Settings</span>
             </div>
             <div class="toast-body">
                <div class="row">
                   <div class="col-sm-12 d-flex justify-content-start align-items-center">
                      <label>Display: </label>
                      <select class="form-control ml-2" id="switch_display">
                         <option value="table" selected="selected">Table</option>
                         <option value="card">Card</option>                     
                      </select>
                   </div>
                </div>
             </div>
          </div>
        </div>        
    </div>
    <!-- settings end -->    
    <div class="d-flex justify-content-end align-items-center">
      <!-- Button to Open the Modal for add new dashboard -->
      <a href="{{url_for('routes.add_catalogue')}}" type="button" class="btn btn-primary btn-sm">
        Add Catalogue
      </a>
      <button type="buttom" data-target="#importExcelCatalogues" data-toggle="modal" class="ml-1 btn btn-warning btn-sm mr-1">
        Import Catalogue From Excel
      </button>
      <button data-toggle="modal" data-target="#removeAllCatalogues" class="btn btn-danger btn-sm">Delete All Catalogues</button>
      
    </div>
    {% if catalogues is defined %}
    <!-- search component -->
    <div class="row mt-2 mb-2">
      <div class="col-sm-11 mx-auto" title="search by id, sku, price, location">
        <form id="search_form" class="row">
          <input class="form-control col-sm-3" type="text" name="search_value" id="search_value" placeholder="search by id, sku, price, location" value=""/>
          <select class="form-control col-sm-3" name="search_by" id="search_by">
            <option value="">Search BY</option>
            <option class="search_column" value="id">ID</option>
            <option class="search_column" value="sku">SKU</option>
            <option class="search_column" value="product_name">Product Name</option>
            <option class="search_column" value="price">Price</option>
            <option class="search_column" value="location">location</option>
          </select>
          <button type="button" id="cancel_search" class="btn btn-sm col-sm-1 btn-danger" style="display:none;"><i class="fa fa-close"></i></button>
          <select class="form-control col-sm-3" id="search_type">            
            <option value="all">all Pages</option>
            <option value="current">Current Page</option>
          </select>
          <button type="submit" class="btn btn-success col-sm-2">Search</button>
        </form>
      </div>
    </div>
    <!-- multiple select action -->
    <div class="p-2">
      <button id="selectAll" class="btn btn-secondary btn-sm">Select All</button>
      <button id="deleteCataloguesOpen" data-toggle="modal" data-target="#removeCatalogues" class="btn btn-danger btn-sm" type="button" style="display:none;">Delete Catagloues</button>
      <button id="multiple_listing_open" data-toggle="modal" data-target="#addMultipleListingModal" class="btn btn-primary btn-sm" type="button" style="display:none;">Add listings</button>
    </div>
    <!-- multiple select end -->

    <!-- search component end -->
    <!-- catalogues Pagination start -->
    <div id="catalogues_pag1" class="d-flex justify-content-center align-items-center mt-2"></div>
    <!-- Pagination end-->
    
    <!-- Card Display (For Mobile, small screen Devices ) -->
    <div class="row" id="card_display" style="display:none;">      
      {% for catalogue in catalogues %}
      <div class="searching_card col-4 p-3 d-flex justify-content-center align-items-center cursor-pointer text-decoration-none text-dark media_small_width_100"
      data-search-id="{{catalogue.id}}" data-search-sku="{{catalogue.sku}}" data-search-product_name="{{catalogue.product_name}}"
      data-search-price="{{catalogue.price}}"  data-search-location="{{catalogue.location}}">

        <div class="hover_shadow row container border rounded shadow p-3" id="products_container">
          <div class="col-sm-12 mb-3 text-center">
            <img src="{{url_for('static', filename='assets/images/'~catalogue.product_image)}}" alt="catalogue icon" width="150"class="mxwidth-150" />
          </div>
          <div class="col-sm-12">
            <p class="overflow_within text-center"><strong>{{catalogue.product_name}}</strong></p>
          </div>
          <div class="col-sm-12">
            <p class="overflow_within"><input type="checkbox" data-check-catalogue="{{catalogue.product_name}}" class="deleted_catalogues form-control w-75 mx-auto" name="deleted_catalogues" value="{{catalogue.id}}" /></p>
          </div>
          <div class="col-sm-12">
            <p class="overflow_within">SKU: <span>{{catalogue.sku}}</span></p>
          </div>
          <div class="col-sm-12">
            <p class="overflow_within">Price: <span>{{catalogue.price}}</span></p>
          </div>
          <div class="col-sm-12">
            <p class="overflow_within">Location: <span>{{catalogue.location}}</span></p>
          </div>
          <div class="col-sm-12 row">
            <div class="col-sm-6">
              <a href="{{url_for('routes.view_catalogue', catalogue_id=catalogue.id)}}" class="btn btn-primary btn-block">View</a>
            </div>
            <div class="col-sm-6">
              <a href="{{url_for('routes.edit_catalogue', catalogue_id=catalogue.id)}}" class="btn btn-secondary btn-block">Edit</a>
            </div>            
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- Card Display End -->

    <!-- Table Display -->
    <div class="row" id="table_display">
      <!-- table display -->
      <div class="col-sm-12">         
        <table class="table table-hover arrangable" id="catalogues_table" data-ignore="0,1,6">
          <thead>
            <tr>
              <th>#</th>
              <th>Icon</th>
              <th>Product Name</th>
              <th>SKU</th>              
              <th>Price</th>
              <th>Location</th>
              <th>Action</th>
            </tr>
          </thead>
          
          <tbody>
            {% for catalogue in catalogues %}

            {# additional for current search get locations string #}
            {% set locations_arr = [] %}
            {% for catalogue_loc in catalogue.locations %}
            {% if locations_arr.append(catalogue_loc.warehouse_location.name) %}
            {% endif %}
            {% endfor %}
            {% set location_string = locations_arr|join(',') %}

            <tr class="searching_card"
            data-search-id="{{catalogue.id}}" data-search-sku="{{catalogue.sku}}" data-search-product_name="{{catalogue.product_name}}"
            data-search-price="{{catalogue.price}}"  data-search-location="{{location_string}}">
              <td>
                <p class="overflow_within"><input type="checkbox" data-check-catalogue="{{catalogue.product_name}}" class="deleted_catalogues form-control w-75" name="deleted_catalogues" value="{{catalogue.id}}" /></p>
              </td>
              <td>
                <p class="overflow_within"><img src="{{url_for('static', filename='assets/images/'~catalogue.product_image)}}" alt="listing icon" width="50" class="mxwidth-50" /></p>
              </td>                
              <td style="max-width: 200px;">{{ locations_string }}
                <p class="overflow_within">{{catalogue.product_name}}</p>
              </td>
              <td>
                <p class="overflow_within">{{catalogue.sku}}</p>
              </td>
              <td>
                <p class="overflow_within">{{catalogue.price}}</p>
              </td>
              <td>
                <div class="overflow_within" style="max-height:180px !important;overflow: auto;word-wrap: break-word;">
                  {% for catalogue_location in catalogue.locations %}
                  <div class="border border-secondary">
                    <h6 title="this is the location {{catalogue_location.warehouse_location.name}} and it's bins under it" class="badge shadow" style="display:block;">{{catalogue_location.warehouse_location.name}}</h6>
                    <div class="d-flex flex-row flex-wrap justify-content-between align-items-center p-2">
                      {% for catalogue_locations_bin in catalogue_location.bins %}
                        <span style="word-wrap: break-word;" title="This is Bin In Location {{catalogue_location.warehouse_location.name}}" class="badge badge-secondary">{{catalogue_locations_bin.bin.name}}</span>
                      {% endfor %}
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </td>                                          
              <td>
                <div class="col-sm-12 row">
                  <div class="col-sm-12 d-flex justify-content-around align-items-center">
                    <div>
                      <a href="{{url_for('routes.view_catalogue', catalogue_id=catalogue.id)}}" class="btn btn-primary btn-block btn-sm"><i class="fa fa-eye"></i></a>
                    </div>
                    <div>
                      <a href="{{url_for('routes.edit_catalogue', catalogue_id=catalogue.id)}}" class="btn btn-secondary btn-block btn-sm"><i class="fa fa-edit"></i></a>
                    </div>              
                  </div>                               
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>      
    </div>
    <!-- Table Display End -->

    <!-- catalogues Pagination start -->
    <div id="catalogues_pag2" class="d-flex justify-content-center align-items-center mt-2"></div>
    <!-- Pagination end-->
      
    {% else %}
    <div class="alert alert-danger">Unable to Display Catalogue right now.</div>
    {% endif %}    
  </div>
</div>
{% import 'forms.html' as forms %}
{{ forms.catalogues_forms(catalogues_excel=catalogues_excel,delete_catalogues=delete_catalogues, delete_all_catalogues=delete_all_catalogues, add_multiple_listings=add_multiple_listings) }}
{% endblock %}


{% block page_scripts %}
<script>
// noEffects = true;

/* Add Pagination component*/
const paginationBtns = {% if pagination_btns %}{{pagination_btns|tojson|safe}}{% else %}[]{% endif %};
const paginationPage = {{ request.args.get('page', 1) }};
displayPaginationComponent(paginationBtns, paginationPage, ['catalogues_pag1', 'catalogues_pag2']);
toggleSettingsToast();
// limit per page component
limitPerPageComponent();


const actionModalsArray = [
  {
    modalId: '#removeCatalogues',
    formId: '#remove_catalogues',
    actionLabesSelctor: '#items',
    formInputSelector: '#catalogues_ids',
    startActionBtn: '#deleteCataloguesOpen',
    totalElement: '#catalogues_ids_total'
  },
  {
    modalId: '#addMultipleListingModal',
    formId: '#add_multiple_listing',
    startActionBtn: '#multiple_listing_open',
    totalElement: '#selected_catalogues_total',
    displayLabels: false,
    setFormIdsInputVal: false,
    openModalCB: multipleListingOpenCB,
    closeModalCB: multipleListingCloseCB
  }
];






// incase component started he will allow return some public functions can accessed and used in other components called after incase component not started it will return undefined; not value
const selectComponent = multipleSelectComponent(checkboxSelector=".deleted_catalogues",  dataLabel="data-check-catalogue", actionModals=actionModalsArray, selectAllSelector="#selectAll");

// get the public function from selectComponent, to add it to change event for integeret select all component
let publicOnChangeCheckBoxSelectAll = null;
if (selectComponent && typeof(selectComponent.onChangeCheckBoxSelectAll) === 'function'){ 
  publicOnChangeCheckBoxSelectAll = selectComponent.onChangeCheckBoxSelectAll;
}

/* search (each type of page have callback to create the rows depend on the style and data and cbs) */
function rowBuildCB(catalogue){
  // if component select all started and return the public function add the event to checkbox
  const delete_change_event = (typeof(publicOnChangeCheckBoxSelectAll) == 'function' ? `onchange="publicOnChangeCheckBoxSelectAll(event)" ` : '');

  let rowHTML = '';
  if (catalogue && catalogue.id !== undefined && catalogue.sku !== undefined && catalogue.product_name !== undefined && catalogue.price !== undefined && catalogue.location !== undefined && catalogue.product_image_url !== undefined && catalogue.view_catalogue && catalogue.edit_catalogue && Array.isArray(catalogue.locations) ){
    rowHTML = `<tr class="searching_card search_all_card"
            data-search-id="${catalogue.id}" data-search-sku="${catalogue.sku}" data-search-product_name="${catalogue.product_name}"
            data-search-price="${catalogue.price}"  data-search-location="${catalogue.location}" style="background: gainsboro!important;" title="This Row not belong to this page it returned from search all">
              <td>
                <p class="overflow_within">
                  <input type="checkbox" data-check-catalogue="${catalogue.product_name}" class="deleted_catalogues form-control w-75"
                   name="deleted_catalogues" value="${catalogue.id}" ${delete_change_event}/>
                </p>
              </td>
              <td>
                <p class="overflow_within"><img src="${catalogue.product_image_url}" alt="listing icon" width="50" class="mxwidth-50" /></p>
              </td>                
              <td style="max-width: 200px;">
                <p class="overflow_within">${catalogue.product_name}</p>
              </td>
              <td>
                <p class="overflow_within">${catalogue.sku}</p>
              </td>
              <td>
                <p class="overflow_within">${catalogue.price}</p>
              </td>
              <td>
                <div class="overflow_within" style="max-height:180px !important;overflow: auto;word-wrap: break-word;">`;
                for (let l=0; l<catalogue.locations.length; l++){
                  const catalogue_location = catalogue.locations[l];
                  rowHTML += `
                  <div class="border border-secondary">
                    <h6 title="this is the location ${catalogue_location.location_name} and it's bins under it" class="badge shadow" style="display:block;">${catalogue_location.location_name}</h6>
                    <div class="d-flex flex-row flex-wrap justify-content-between align-items-center p-2">`;
                      if (Array.isArray(catalogue_location.bins)){
                        for (let b=0; b<catalogue_location.bins.length; b++){
                          const catalogue_locations_bin = catalogue_location.bins[b];
                          rowHTML += `
                                <span style="word-wrap: break-word;" title="This is Bin In Location ${catalogue_location.location_name}" class="badge badge-secondary">${catalogue_locations_bin}</span>
                          `;
                        }
                      }
                  rowHTML += `
                    </div>
                  </div>
                  `;
                }
                  
    rowHTML     += `
              </td>                                          
              <td>
                <div class="col-sm-12 row">
                  <div class="col-sm-12 d-flex justify-content-around align-items-center">
                    <div>
                      <a href="${catalogue.view_catalogue}" class="btn btn-primary btn-block btn-sm"><i class="fa fa-eye"></i></a>
                    </div>
                    <div>
                      <a href="${catalogue.edit_catalogue}" class="btn btn-secondary btn-block btn-sm"><i class="fa fa-edit"></i></a>
                    </div>              
                  </div>                               
                </div>
              </td>
          </tr>`;
  }
  return rowHTML;
}

searchComponent('fast', 'swing', cp=function(){return true;}, addon='', condition='*=', rowBuildCB=rowBuildCB, table='catalogue');

// add order by component to arrange table rows using table headers
orderByColumnsComponent();
                  
/* multiple Listings Callbacks */
function multipleListingOpenCB(selectedValues, selectedLabels){
  console.log("cb called", selectedValues, selectedLabels);
  const newListingContainers = $(".new_listing_containers");
  // start if all data is ready and all lengths same (newListingContainers equal to all catalogues of the page dynamic incase size of catalogues increased) so selected values must be less or equal this elements
  if (selectedValues.length == selectedLabels.length && newListingContainers.length >= selectedValues.length){
    for (let i=0; i< selectedValues.length; i++){
      const currentCatalogueId = selectedValues[i];
      const currentCatalogueName = selectedLabels[i];
      const currentNewListingCont = newListingContainers.eq(i);
      const currentCatalogueLabel = currentNewListingCont.find('h6.catalogue_label');

      const currentCatalogueIdInput = currentNewListingCont.find('input.multiple_platform_ids');
      const currentPlatformId = currentNewListingCont.find('select.multiple_platforms_selects');

      const currentActive = currentNewListingCont.find('select.multiple_active');
      const currentDiscountStart = currentNewListingCont.find('input.multiple_discount_end');
      const currentDiscountEnd = currentNewListingCont.find('input.multiple_discount_start');
      const currentUnitDiscount = currentNewListingCont.find('input.multiple_unit_discount');
      const currentUnitOrigin = currentNewListingCont.find('input.multiple_unit_origin');
      const currentQuantityThreshold = currentNewListingCont.find('input.multiple_quantity_threshold');
      const currentCurrencyIso = currentNewListingCont.find('input.multiple_currency_iso');
      const currentShopSKU = currentNewListingCont.find('input.multiple_shop_sku');
      const currentOfferId = currentNewListingCont.find('input.multiple_offer_id');
      const currentReference = currentNewListingCont.find('input.multiple_reference');
      const currentReferenceType = currentNewListingCont.find('input.multiple_reference_type');     
      
      if (
        currentPlatformId.length && currentCatalogueIdInput.length && currentCatalogueLabel.length &&

        currentActive.length && currentDiscountStart.length && currentDiscountEnd.length && currentUnitDiscount.length &&
        currentUnitOrigin.length && currentQuantityThreshold.length && currentCurrencyIso.length && 
        currentShopSKU.length && currentOfferId.length && currentReference.length && currentReferenceType.length
        ){
        currentCatalogueIdInput.eq(0).val(currentCatalogueId);
        currentCatalogueLabel.eq(0).text(currentCatalogueName);
        currentCatalogueLabel.eq(0).show();

        // display inputs
        currentPlatformId.eq(0).show();
        currentActive.eq(0).show();
        currentDiscountStart.eq(0).show();
        currentDiscountEnd.eq(0).show();
        currentUnitDiscount.eq(0).show();
        currentUnitOrigin.eq(0).show();
        currentQuantityThreshold.eq(0).show();
        currentCurrencyIso.eq(0).show();
        currentShopSKU.eq(0).show();
        currentOfferId.eq(0).show();
        currentReference.eq(0).show();
        currentReferenceType.eq(0).show();

        currentNewListingCont.eq(0).show();
        // add class to selected inputs to disable other not used input
        currentCatalogueIdInput.eq(0).addClass("used");
        currentPlatformId.eq(0).addClass("used");

        currentActive.eq(0).addClass("used");
        currentDiscountStart.eq(0).addClass("used");
        currentDiscountEnd.eq(0).addClass("used");
        currentUnitDiscount.eq(0).addClass("used");
        currentUnitOrigin.eq(0).addClass("used");
        currentQuantityThreshold.eq(0).addClass("used");
        currentCurrencyIso.eq(0).addClass("used");
        currentShopSKU.eq(0).addClass("used");
        currentOfferId.eq(0).addClass("used");
        currentReference.eq(0).addClass("used");
        currentReferenceType.eq(0).addClass("used");

        //multipleSelectV2();

      } else {
        console.log(`multipleListingOpenCB Error: container with index ${i} missing select platform or catalogue id input or label.`);
      }
    }

    // disable all other inputs not used
    $("input.multiple_platform_ids:not(.used)").attr("disabled", true);
    $("select.multiple_platforms_selects:not(.used)").attr("disabled", true);
    $("select.multiple_active:not(.used)").attr("disabled", true);
    $("input.multiple_discount_end:not(.used)").attr("disabled", true);
    $("input.multiple_discount_start:not(.used)").attr("disabled", true);
    $("input.multiple_unit_discount:not(.used)").attr("disabled", true);
    $("input.multiple_unit_origin:not(.used)").attr("disabled", true);
    $("input.multiple_quantity_threshold:not(.used)").attr("disabled", true);
    $("input.multiple_currency_iso:not(.used)").attr("disabled", true);
    $("input.multiple_shop_sku:not(.used)").attr("disabled", true);
    $("input.multiple_offer_id:not(.used)").attr("disabled", true);
    $("input.multiple_reference:not(.used)").attr("disabled", true);
    $("input.multiple_reference_type:not(.used)").attr("disabled", true);

  } else {
    console.log("Invalid data multipleListingOpenCB not processed", newListingContainers.length);
  }
}

function multipleListingCloseCB(){

  // unset values and hide all inputs once model closed to start clean when open the model again
  $("input.multiple_platform_ids").val("");
  $("input.multiple_platform_ids").hide();

  $("select.multiple_platforms_selects").prop("checked", false);
  $("select.multiple_platforms_selects").hide();

  $("select.multiple_active").val("");
  $("select.multiple_active").hide();

  $("input.multiple_discount_end").val("");
  $("input.multiple_discount_end").hide();

  $("input.multiple_discount_start").val("");
  $("input.multiple_discount_start").hide();
  
  $("input.multiple_unit_discount").val("");
  $("input.multiple_unit_discount").hide();

  $("input.multiple_unit_origin").val("");
  $("input.multiple_unit_origin").hide();

  $("input.multiple_quantity_threshold").val("");
  $("input.multiple_quantity_threshold").hide();

  $("input.multiple_currency_iso").val("");
  $("input.multiple_currency_iso").hide();

  $("input.multiple_shop_sku").val("");
  $("input.multiple_shop_sku").hide();

  $("input.multiple_offer_id").val("");
  $("input.multiple_offer_id").hide();

  $("input.multiple_reference").val("");
  $("input.multiple_reference").hide();

  $("input.multiple_reference_type").val("");
  $("input.multiple_reference_type").hide();

  
  $("h6.catalogue_label").text("");
  $("h6.catalogue_label").hide();
  $(".new_listing_containers").hide();

  // remove used class
  $("input.multiple_platform_ids.used").removeClass("used");
  $("select.multiple_platforms_selects.used").removeClass("used");
  $("select.multiple_active.used").removeClass("used");
  $("input.multiple_discount_end.used").removeClass("used");
  $("input.multiple_discount_start.used").removeClass("used");
  $("input.multiple_unit_discount.used").removeClass("used");
  $("input.multiple_unit_origin.used").removeClass("used");
  $("input.multiple_quantity_threshold.used").removeClass("used");
  $("input.multiple_currency_iso.used").removeClass("used");
  $("input.multiple_shop_sku.used").removeClass("used");
  $("input.multiple_offer_id.used").removeClass("used");
  $("input.multiple_reference.used").removeClass("used");
  $("input.multiple_reference_type.used").removeClass("used");

  // remove disabled from inputs
  $("input.multiple_platform_ids:disabled").removeAttr("disabled");
  $("select.multiple_platforms_selects:disabled").removeAttr("disabled");

  $("select.multiple_active:disabled").removeClass("used");
  $("input.multiple_discount_end:disabled").removeClass("used");
  $("input.multiple_discount_start:disabled").removeClass("used");
  $("input.multiple_unit_discount:disabled").removeClass("used");
  $("input.multiple_unit_origin:disabled").removeClass("used");
  $("input.multiple_quantity_threshold:disabled").removeClass("used");
  $("input.multiple_currency_iso:disabled").removeClass("used");
  $("input.multiple_shop_sku:disabled").removeClass("used");
  $("input.multiple_offer_id:disabled").removeClass("used");
  $("input.multiple_reference:disabled").removeClass("used");
  $("input.multiple_reference_type:disabled").removeClass("used");
}

</script>
{% endblock page_scripts %}