{% extends 'base.html' %}
{% block title %}Catalogues{% endblock %}
{% block page_description %}this is catalogues page, you can view/edit and add new catalogue{% endblock %}

{% block body %}
<div class="container-fluid border rounded p-3">
  {% include 'messages.html' %}
  <img src="{{url_for('static', filename='assets/images/loading_circle.gif')}}" class="loading_circle" style="display:none;" />
  <div class="container-fluid content_container">
    <div class="d-flex justify-content-between align-items-center mb-2">
        <!-- per page limit -->        
        {% set limit = session["limit"] %}
        <div class="d-flex justify-content-center align-items-center w_max_content">
          <label class="mr-1 minw_max_content">Limit: </label>
          <select id="limit_select" name="limit" class="form-control" data-save-limit="{{url_for('main.savelimit')}}" data-limit="{{limit}}">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option id="custom_limit_option" value="">custom</option>
          </select>
          <div style="display:none;" id="custom_limit_cont">
            <div class="d-flex justify-content-center align-items-center">
              <input class="form-control mx-1 w_100px" type="number" id="custom_limit_input" value="" placeholder="custom" min="1">
              <button class="btn btn-sm btn-primary ml minw_max_content" id="set_custom_btn">Set Custom</button>
            </div>
          </div>
        </div>
        <!-- per page limit end -->
        <!-- settings menu-->
        <div id="settings_toast_cont">
          <button type="button" class="btn btn-outline-primary mb-1" id="open_settings">Settings</button>
          <div id="settings_toast" class="toast shadow" data-autohide="false" style="display:none;">
             <div class="toast-header bg-dark text-white">
                <span><i class="fa fa-gear"></i> Settings</span>
             </div>
             <div class="toast-body">
                <div class="row">
                   <div class="col-sm-12 row">
                      <label class="col-sm-7">Display: </label>
                      <select class="form-control col-sm-5" id="switch_display">
                         <option value="table" selected="selected">Table</option>
                         <option value="card">Card</option>                     
                      </select>
                   </div>
                  <div class="col-sm-12 row mt-2" title="Set custom table zoom precentage">
                      <label class="col-sm-7">Table Zoom (Percentage): </label>
                      <input class="form-control col-sm-5" id="zoom_input" data-selector="#catalogues_table" type="number" oninput="updateElmZoom()" placeholder="Percentages">
                  </div>
                  <div class="col-sm-12 row mt-2" title="Do you wana make table rows have one row with color and row after with diffrent color for Better vision">
                    <label class="col-sm-7">Striped Table: </label>
                    <select class="class_selctors col-sm-5 form-control" data-class="table-striped" data-selector="#catalogues_table" onchange="classToggler(event)">
                      <option value="">No</option>
                      <option value="true">Yes</option>
                    </select>
                  </div>
                  <div class="col-sm-12 row mt-2" title="Do You Wana Make table rows Hoverable their background color change when mouse stand over table rows?">
                    <label class="col-sm-7" >Table Hover: </label>
                    <select class="class_selctors col-sm-5 form-control" data-class="table-hover" data-selector="#catalogues_table" onchange="classToggler(event)">
                      <option value="">No</option>
                      <option value="true" selected="selected">Yes</option>
                    </select>
                  </div>
                  <div class="col-sm-12 row mt-2" title="Do you wana change table background to black?">
                    <label class="col-sm-7">Table Dark: </label>
                    <select class="class_selctors col-sm-5 form-control" data-class="table-dark" data-selector="#catalogues_table" onchange="classToggler(event)">
                      <option value="">No</option>
                      <option value="true">Yes</option>
                    </select>
                  </div>
                  <div class="col-sm-12 row mt-2" title="Do you wana add border around table cells?">
                    <label class="col-sm-7">Table Bordered: </label>
                    <select class="class_selctors col-sm-5 form-control" data-class="table-bordered" data-selector="#catalogues_table" onchange="classToggler(event)">
                      <option value="">No</option>
                      <option value="true" selected="selected">Yes</option>
                    </select>
                  </div>
                </div>
             </div>
          </div>
        </div>        
    </div>
    <!-- settings end -->    
    <div class="d-flex justify-content-end align-items-center">
      <!-- Button to Open the Modal for add new dashboard -->
      <a href="{{url_for('routes.add_catalogue')}}" type="button" class="btn btn-primary btn-sm">
        Add Catalogue
      </a>
      <button type="buttom" data-target="#importExcelCatalogues" data-toggle="modal" class="ml-1 btn btn-warning btn-sm mr-1">
        Import Catalogue From Excel
      </button>
      <button data-toggle="modal" data-target="#removeAllCatalogues" class="btn btn-danger btn-sm">Delete All Catalogues</button>
      
    </div>
    {% if catalogues is defined %}
    <!-- search component -->
    <div class="row mt-2 mb-2">
      <div class="col-sm-11 mx-auto" title="search by id, sku, price, location">
        <form id="search_form" class="row no_submit_hide">
          <input class="form-control col-sm-3" type="text" name="search_value" id="search_value" placeholder="search by id, sku, price, location" value=""/>
          <select class="form-control col-sm-3" name="search_by" id="search_by">
            <option value="">Search BY</option>
            <option class="search_column" value="id">ID</option>
            <option class="search_column" value="sku">SKU</option>
            <option class="search_column" value="product_name">Product Name</option>
            <option class="search_column" value="price">Price</option>
            <option class="search_column" value="location">location</option>
          </select>
          <button type="button" id="cancel_search" class="btn btn-sm col-sm-1 btn-danger" style="display:none;"><i class="fa fa-close"></i></button>
          <select class="form-control col-sm-3" id="search_type">            
            <option value="all">all Pages</option>
            <option value="current">Current Page</option>
          </select>
          <button type="submit" class="btn btn-success col-sm-2">Search</button>
        </form>
      </div>
    </div>
    <!-- multiple select action -->
    <div class="p-2">
      <button id="selectAll" class="btn btn-secondary btn-sm">Select All</button>
      <button id="deleteCataloguesOpen" data-toggle="modal" data-target="#removeCatalogues" class="btn btn-danger btn-sm" type="button" style="display:none;">Delete Catagloues</button>
      <button id="multiple_listing_open" data-toggle="modal" data-target="#addMultipleListingModal" class="btn btn-primary btn-sm" type="button" style="display:none;">Add listings</button>
    </div>
    <!-- multiple select end -->

    <!-- search component end -->
    <!-- catalogues Pagination start -->
    <div id="catalogues_pag1" class="d-flex justify-content-center align-items-center mt-2"></div>
    <!-- Pagination end-->
    
    <!-- Card Display (For Mobile, small screen Devices ) -->
    <div class="row" id="card_display" style="display:none;">      
      {% for catalogue in catalogues %}
      <div class="searching_card col-4 p-3 d-flex justify-content-center align-items-center cursor-pointer text-decoration-none text-dark media_small_width_100"
      data-search-id="{{catalogue.id}}" data-search-sku="{{catalogue.sku}}" data-search-product_name="{{catalogue.product_name}}"
      data-search-price="{{catalogue.price}}"  data-search-location="{{catalogue.location}}">

        <div class="hover_shadow row container border rounded shadow p-3" id="products_container">
          <div class="col-sm-12 mb-3 text-center">
            <img src="{{url_for('static', filename='assets/images/'~catalogue.product_image)}}" alt="catalogue icon" width="150"class="mxwidth-150" />
          </div>
          <div class="col-sm-12">
            <p class="overflow_within text-center"><strong>{{catalogue.product_name}}</strong></p>
          </div>
          <div class="col-sm-12">
            <p class="overflow_within"><input type="checkbox" data-check-catalogue="{{catalogue.product_name}}" class="deleted_catalogues form-control w-75 mx-auto" name="deleted_catalogues" value="{{catalogue.id}}" /></p>
          </div>
          <div class="col-sm-12">
            <p class="overflow_within">SKU: <span>{{catalogue.sku}}</span></p>
          </div>
          <div class="col-sm-12">
            <p class="overflow_within">Price: <span>{{catalogue.price}}</span></p>
          </div>
          <div class="col-sm-12">
            <p class="overflow_within">Location: <span>{{catalogue.location}}</span></p>
          </div>
          <div class="col-sm-12 row">
            <div class="col-sm-6">
              <a href="{{url_for('routes.view_catalogue', catalogue_id=catalogue.id)}}" class="btn btn-primary btn-block">View</a>
            </div>
            <div class="col-sm-6">
              <a href="{{url_for('routes.edit_catalogue', catalogue_id=catalogue.id)}}" class="btn btn-secondary btn-block">Edit</a>
            </div>            
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- Card Display End -->

    <!-- Table Display -->
    <div class="row" id="table_display">
      <!-- table display -->
      <div class="col-sm-12">         
        <table class="table table-hover table-bordered arrangable" id="catalogues_table" data-ignore="0,1,6">
          <thead>
            <tr>
              <th>#</th>
              <th>Icon</th>
              <th>Product Name</th>
              <th>SKU</th>              
              <th>Price</th>
              <th>Location</th>
              <th>Action</th>
            </tr>
          </thead>
          
          <tbody>
            {% for catalogue in catalogues %}

            {# additional for current search get locations string #}
            {% set locations_arr = [] %}
            {% for catalogue_loc in catalogue.locations %}
            {% if locations_arr.append(catalogue_loc.warehouse_location.name) %}
            {% endif %}
            {% endfor %}
            {% set location_string = locations_arr|join(',') %}

            <tr class="searching_card"
            data-search-id="{{catalogue.id}}" data-search-sku="{{catalogue.sku}}" data-search-product_name="{{catalogue.product_name}}"
            data-search-price="{{catalogue.price}}"  data-search-location="{{location_string}}">
              <td>
                <p class="overflow_within"><input type="checkbox" data-check-catalogue="{{catalogue.product_name}}" class="deleted_catalogues form-control w-75" name="deleted_catalogues" value="{{catalogue.id}}" /></p>
              </td>
              <td>
                <p class="overflow_within"><img src="{{url_for('static', filename='assets/images/'~catalogue.product_image)}}" alt="listing icon" width="50" class="mxwidth-50" /></p>
              </td>                
              <td style="max-width: 200px;">{{ locations_string }}
                <p class="overflow_within">{{catalogue.product_name}}</p>
              </td>
              <td>
                <p class="overflow_within">{{catalogue.sku}}</p>
              </td>
              <td>
                <p class="overflow_within">{{catalogue.price}}</p>
              </td>
              <td>
                <div class="overflow_within" style="max-height:180px !important;overflow: auto;word-wrap: break-word;">
                  {% for catalogue_location in catalogue.locations %}
                  <div class="border border-secondary">
                    <h6 title="this is the location {{catalogue_location.warehouse_location.name}} and it's bins under it" class="badge shadow" style="display:block;">{{catalogue_location.warehouse_location.name}}</h6>
                    <div class="d-flex flex-row flex-wrap justify-content-between align-items-center p-2">
                      {% for catalogue_locations_bin in catalogue_location.bins %}
                        <span style="word-wrap: break-word;" title="This is Bin In Location {{catalogue_location.warehouse_location.name}}" class="badge badge-secondary">{{catalogue_locations_bin.bin.name}}</span>
                      {% endfor %}
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </td>                                          
              <td>
                <div class="col-sm-12 row">
                  <div class="col-sm-12 d-flex justify-content-around align-items-center">
                    <div>
                      <a href="{{url_for('routes.view_catalogue', catalogue_id=catalogue.id)}}" class="btn btn-primary btn-block btn-sm"><i class="fa fa-eye"></i></a>
                    </div>
                    <div>
                      <a href="{{url_for('routes.edit_catalogue', catalogue_id=catalogue.id)}}" class="btn btn-secondary btn-block btn-sm"><i class="fa fa-edit"></i></a>
                    </div>              
                  </div>                               
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>      
    </div>
    <!-- Table Display End -->

    <!-- catalogues Pagination start -->
    <div id="catalogues_pag2" class="d-flex justify-content-center align-items-center mt-2"></div>
    <!-- Pagination end-->
      
    {% else %}
    <div class="alert alert-danger">Unable to Display Catalogue right now.</div>
    {% endif %}    
  </div>
</div>
{% import 'forms.html' as forms %}
{{ forms.catalogues_forms(catalogues_excel=catalogues_excel,delete_catalogues=delete_catalogues, delete_all_catalogues=delete_all_catalogues, add_multiple_listings=add_multiple_listings) }}
{% endblock %}


{% block page_scripts %}
<script>
// noEffects = true;

/* Add Pagination component*/
const paginationBtns = {% if pagination_btns %}{{pagination_btns|tojson|safe}}{% else %}[]{% endif %};
const paginationPage = {{ request.args.get('page', 1) }};
displayPaginationComponent(paginationBtns, paginationPage, ['catalogues_pag1', 'catalogues_pag2']);
toggleSettingsToast();
// limit per page component
limitPerPageComponent();


const actionModalsArray = [
  {
    modalId: '#removeCatalogues',
    formId: '#remove_catalogues',
    actionLabesSelctor: '#items',
    formInputSelector: '#catalogues_ids',
    startActionBtn: '#deleteCataloguesOpen',
    totalElement: '#catalogues_ids_total'
  },
  {
    modalId: '#addMultipleListingModal',
    formId: '#add_multiple_listing',
    startActionBtn: '#multiple_listing_open',
    totalElement: '#selected_catalogues_total',
    displayLabels: false,
    setFormIdsInputVal: false,
    openModalCB: multipleListingOpenCB,
    closeModalCB: multipleListingCloseCB
  }
];






// incase component started he will allow return some public functions can accessed and used in other components called after incase component not started it will return undefined; not value
const selectComponent = multipleSelectComponent(checkboxSelector=".deleted_catalogues",  dataLabel="data-check-catalogue", actionModals=actionModalsArray, selectAllSelector="#selectAll");

// get the public function from selectComponent, to add it to change event for integeret select all component
let publicOnChangeCheckBoxSelectAll = null;
if (selectComponent && typeof(selectComponent.onChangeCheckBoxSelectAll) === 'function'){ 
  publicOnChangeCheckBoxSelectAll = selectComponent.onChangeCheckBoxSelectAll;
}


/* search (each type of page have callback to create the rows depend on the style and data and cbs) */
function rowBuildCB(catalogue){
  // if component select all started and return the public function add the event to checkbox
  const delete_change_event = (typeof(publicOnChangeCheckBoxSelectAll) == 'function' ? `onchange="publicOnChangeCheckBoxSelectAll(event)" ` : '');

  let rowHTML = '';
  if (catalogue && catalogue.id !== undefined && catalogue.sku !== undefined && catalogue.product_name !== undefined && catalogue.price !== undefined && catalogue.location !== undefined && catalogue.product_image_url !== undefined && catalogue.view_catalogue && catalogue.edit_catalogue && Array.isArray(catalogue.locations) ){
    rowHTML = `<tr class="searching_card search_all_card"
            data-search-id="${catalogue.id}" data-search-sku="${catalogue.sku}" data-search-product_name="${catalogue.product_name}"
            data-search-price="${catalogue.price}"  data-search-location="${catalogue.location}" style="background: gainsboro!important;" title="This Row not belong to this page it returned from search all">
              <td>
                <p class="overflow_within">
                  <input type="checkbox" data-check-catalogue="${catalogue.product_name}" class="deleted_catalogues form-control w-75"
                   name="deleted_catalogues" value="${catalogue.id}" ${delete_change_event}/>
                </p>
              </td>
              <td>
                <p class="overflow_within"><img src="${catalogue.product_image_url}" alt="listing icon" width="50" class="mxwidth-50" /></p>
              </td>                
              <td style="max-width: 200px;">
                <p class="overflow_within">${catalogue.product_name}</p>
              </td>
              <td>
                <p class="overflow_within">${catalogue.sku}</p>
              </td>
              <td>
                <p class="overflow_within">${catalogue.price}</p>
              </td>
              <td>
                <div class="overflow_within" style="max-height:180px !important;overflow: auto;word-wrap: break-word;">`;
                for (let l=0; l<catalogue.locations.length; l++){
                  const catalogue_location = catalogue.locations[l];
                  rowHTML += `
                  <div class="border border-secondary">
                    <h6 title="this is the location ${catalogue_location.location_name} and it's bins under it" class="badge shadow" style="display:block;">${catalogue_location.location_name}</h6>
                    <div class="d-flex flex-row flex-wrap justify-content-between align-items-center p-2">`;
                      if (Array.isArray(catalogue_location.bins)){
                        for (let b=0; b<catalogue_location.bins.length; b++){
                          const catalogue_locations_bin = catalogue_location.bins[b];
                          rowHTML += `
                                <span style="word-wrap: break-word;" title="This is Bin In Location ${catalogue_location.location_name}" class="badge badge-secondary">${catalogue_locations_bin}</span>
                          `;
                        }
                      }
                  rowHTML += `
                    </div>
                  </div>
                  `;
                }
                  
    rowHTML     += `
              </td>                                          
              <td>
                <div class="col-sm-12 row">
                  <div class="col-sm-12 d-flex justify-content-around align-items-center">
                    <div>
                      <a href="${catalogue.view_catalogue}" class="btn btn-primary btn-block btn-sm"><i class="fa fa-eye"></i></a>
                    </div>
                    <div>
                      <a href="${catalogue.edit_catalogue}" class="btn btn-secondary btn-block btn-sm"><i class="fa fa-edit"></i></a>
                    </div>              
                  </div>                               
                </div>
              </td>
          </tr>`;
  }
  return rowHTML;
}

searchComponent('fast', 'swing', cp=function(){return true;}, addon='', condition='*=', rowBuildCB=rowBuildCB, table='catalogue');

// add order by component to arrange table rows using table headers
orderByColumnsComponent();


// add multiple listing switch position of submit and info div from top to bottom while scrolling for real UX not fb etc apps
actionPositionYSwitcher("#main_add_multiple", "#ml_action", "#ml_action_tcont", "#ml_action_bcont", "#addMultipleListingModal");

/* multiple Listings Callbacks */
function multipleListingOpenCB(selectedValues, selectedLabels){
  console.log("cb called", selectedValues, selectedLabels);
  const newListingContainers = $(".new_listing_containers");
  // start if all data is ready and all lengths same (newListingContainers equal to all catalogues of the page dynamic incase size of catalogues increased) so selected values must be less or equal this elements
  if (selectedValues.length == selectedLabels.length && newListingContainers.length >= selectedValues.length){
    for (let i=0; i< selectedValues.length; i++){
      const currentCatalogueId = selectedValues[i];
      const currentCatalogueName = selectedLabels[i];
      const currentNewListingCont = newListingContainers.eq(i);
      const currentCatalogueLabel = currentNewListingCont.find('.catalogue_label');

      const currentCatalogueIdInput = currentNewListingCont.find('input.multiple_platform_ids');
      const currentPlatformId = currentNewListingCont.find('select.multiple_platforms_selects');

      const currentActive = currentNewListingCont.find('select.multiple_active');
      const currentDiscountStart = currentNewListingCont.find('input.multiple_discount_end');
      const currentDiscountEnd = currentNewListingCont.find('input.multiple_discount_start');
      const currentUnitDiscount = currentNewListingCont.find('input.multiple_unit_discount');
      const currentUnitOrigin = currentNewListingCont.find('input.multiple_unit_origin');
      const currentQuantityThreshold = currentNewListingCont.find('input.multiple_quantity_threshold');
      const currentCurrencyIso = currentNewListingCont.find('input.multiple_currency_iso');
      const currentShopSKU = currentNewListingCont.find('input.multiple_shop_sku');
      const currentOfferId = currentNewListingCont.find('input.multiple_offer_id');
      const currentReference = currentNewListingCont.find('input.multiple_reference');
      const currentReferenceType = currentNewListingCont.find('input.multiple_reference_type');     
      
      if (
        currentPlatformId.length && currentCatalogueIdInput.length && currentCatalogueLabel.length &&

        currentActive.length && currentDiscountStart.length && currentDiscountEnd.length && currentUnitDiscount.length &&
        currentUnitOrigin.length && currentQuantityThreshold.length && currentCurrencyIso.length && 
        currentShopSKU.length && currentOfferId.length && currentReference.length && currentReferenceType.length
        ){
        currentCatalogueIdInput.eq(0).val(currentCatalogueId);
        currentCatalogueLabel.eq(0).text(currentCatalogueName);
        currentCatalogueLabel.eq(0).show();

        // display inputs
        currentPlatformId.eq(0).show();
        currentActive.eq(0).show();
        currentDiscountStart.eq(0).show();
        currentDiscountEnd.eq(0).show();
        currentUnitDiscount.eq(0).show();
        currentUnitOrigin.eq(0).show();
        currentQuantityThreshold.eq(0).show();
        currentCurrencyIso.eq(0).show();
        currentShopSKU.eq(0).show();
        currentOfferId.eq(0).show();
        currentReference.eq(0).show();
        currentReferenceType.eq(0).show();

        currentNewListingCont.eq(0).show();
        // add class to selected inputs to disable other not used input
        currentCatalogueIdInput.eq(0).addClass("used");
        currentPlatformId.eq(0).addClass("used");

        currentActive.eq(0).addClass("used");
        currentDiscountStart.eq(0).addClass("used");
        currentDiscountEnd.eq(0).addClass("used");
        currentUnitDiscount.eq(0).addClass("used");
        currentUnitOrigin.eq(0).addClass("used");
        currentQuantityThreshold.eq(0).addClass("used");
        currentCurrencyIso.eq(0).addClass("used");
        currentShopSKU.eq(0).addClass("used");
        currentOfferId.eq(0).addClass("used");
        currentReference.eq(0).addClass("used");
        currentReferenceType.eq(0).addClass("used");
        
        /* ################################### Extra New Part For Group By ################################### */
        // add groupby class on select elements
        currentNewListingCont.addClass("mlisting_groupby");
        //multipleSelectV2();

      } else {
        console.log(`multipleListingOpenCB Error: container with index ${i} missing select platform or catalogue id input or label.`);
      }
    }

    // disable all other inputs not used
    $("input.multiple_platform_ids:not(.used)").attr("disabled", true);
    $("select.multiple_platforms_selects:not(.used)").attr("disabled", true);
    $("select.multiple_active:not(.used)").attr("disabled", true);
    $("input.multiple_discount_end:not(.used)").attr("disabled", true);
    $("input.multiple_discount_start:not(.used)").attr("disabled", true);
    $("input.multiple_unit_discount:not(.used)").attr("disabled", true);
    $("input.multiple_unit_origin:not(.used)").attr("disabled", true);
    $("input.multiple_quantity_threshold:not(.used)").attr("disabled", true);
    $("input.multiple_currency_iso:not(.used)").attr("disabled", true);
    $("input.multiple_shop_sku:not(.used)").attr("disabled", true);
    $("input.multiple_offer_id:not(.used)").attr("disabled", true);
    $("input.multiple_reference:not(.used)").attr("disabled", true);
    $("input.multiple_reference_type:not(.used)").attr("disabled", true);

  } else {
    console.log("Invalid data multipleListingOpenCB not processed", newListingContainers.length);
  }
}

function multipleListingCloseCB(){

  // unset values and hide all inputs once model closed to start clean when open the model again
  $("input.multiple_platform_ids").val("");
  $("input.multiple_platform_ids").hide();

  $("select.multiple_platforms_selects").prop("checked", false);
  $("select.multiple_platforms_selects").hide();

  $("select.multiple_active").val("");
  $("select.multiple_active").hide();

  $("input.multiple_discount_end").val("");
  $("input.multiple_discount_end").hide();

  $("input.multiple_discount_start").val("");
  $("input.multiple_discount_start").hide();
  
  $("input.multiple_unit_discount").val("");
  $("input.multiple_unit_discount").hide();

  $("input.multiple_unit_origin").val("");
  $("input.multiple_unit_origin").hide();

  $("input.multiple_quantity_threshold").val("");
  $("input.multiple_quantity_threshold").hide();

  $("input.multiple_currency_iso").val("");
  $("input.multiple_currency_iso").hide();

  $("input.multiple_shop_sku").val("");
  $("input.multiple_shop_sku").hide();

  $("input.multiple_offer_id").val("");
  $("input.multiple_offer_id").hide();

  $("input.multiple_reference").val("");
  $("input.multiple_reference").hide();

  $("input.multiple_reference_type").val("");
  $("input.multiple_reference_type").hide();

  
  $("h6.catalogue_label").text("");
  $("h6.catalogue_label").hide();
  $(".new_listing_containers").hide();

  // remove used class
  $("input.multiple_platform_ids.used").removeClass("used");
  $("select.multiple_platforms_selects.used").removeClass("used");
  $("select.multiple_active.used").removeClass("used");
  $("input.multiple_discount_end.used").removeClass("used");
  $("input.multiple_discount_start.used").removeClass("used");
  $("input.multiple_unit_discount.used").removeClass("used");
  $("input.multiple_unit_origin.used").removeClass("used");
  $("input.multiple_quantity_threshold.used").removeClass("used");
  $("input.multiple_currency_iso.used").removeClass("used");
  $("input.multiple_shop_sku.used").removeClass("used");
  $("input.multiple_offer_id.used").removeClass("used");
  $("input.multiple_reference.used").removeClass("used");
  $("input.multiple_reference_type.used").removeClass("used");

  // remove disabled from inputs
  $("input.multiple_platform_ids:disabled").removeAttr("disabled");
  $("select.multiple_platforms_selects:disabled").removeAttr("disabled");
  $("select.multiple_active:disabled").removeAttr("disabled");
  $("input.multiple_discount_end:disabled").removeAttr("disabled");
  $("input.multiple_discount_start:disabled").removeAttr("disabled");
  $("input.multiple_unit_discount:disabled").removeAttr("disabled");
  $("input.multiple_unit_origin:disabled").removeAttr("disabled");
  $("input.multiple_quantity_threshold:disabled").removeAttr("disabled");
  $("input.multiple_currency_iso:disabled").removeAttr("disabled");
  $("input.multiple_shop_sku:disabled").removeAttr("disabled");
  $("input.multiple_offer_id:disabled").removeAttr("disabled");
  $("input.multiple_reference:disabled").removeAttr("disabled");
  $("input.multiple_reference_type:disabled").removeAttr("disabled");

  // back default values
  $("select.multiple_platforms_selects option:first").prop("selected", true).trigger('change');
  $("select.multiple_active option:first").prop("selected", true).trigger('change');
  $("input.multiple_discount_end").val("").trigger("change");
  $("input.multiple_discount_start").val("").trigger("change");
  $("input.multiple_unit_discount").val("").trigger("change");
  $("input.multiple_unit_origin").val("");
  $("input.multiple_quantity_threshold").val("").trigger("change");
  $("input.multiple_currency_iso").val("").trigger("change");
  $("input.multiple_shop_sku").val("").trigger("change");
  $("input.multiple_offer_id").val("").trigger("change");
  $("input.multiple_reference").val("").trigger("change");
  $("input.multiple_reference_type").val("").trigger("change");


  $("select.multiple_active:disabled").removeClass("used");
  $("input.multiple_discount_end:disabled").removeClass("used");
  $("input.multiple_discount_start:disabled").removeClass("used");
  $("input.multiple_unit_discount:disabled").removeClass("used");
  $("input.multiple_unit_origin:disabled").removeClass("used");
  $("input.multiple_quantity_threshold:disabled").removeClass("used");
  $("input.multiple_currency_iso:disabled").removeClass("used");
  $("input.multiple_shop_sku:disabled").removeClass("used");
  $("input.multiple_offer_id:disabled").removeClass("used");
  $("input.multiple_reference:disabled").removeClass("used");
  $("input.multiple_reference_type:disabled").removeClass("used");

  /* ################################### Extra New Part For Group By ################################### */
  // remove groupby class
  cancelGroupBy();
  removeSearch(); /* Please note elements even if hidden due to search this component will display them when open modal */
  // uncheck any checked mla_list_select checkbox
  $('#mlisting_cont .mla_list_select').prop('checked', false).trigger('change');
  // remove greenbg on any updated rows
  $(".bg-success .mla_list_select").parent().removeClass("bg-success");
  $(".mlisting_groupby").removeClass("mlisting_groupby");


  // back to default groupby btn
  $("#groupby_btn").removeClass("btn-danger");
  $("#groupby_btn").addClass("btn-warning");
  $("#groupby_btn").text("Group By Platform");
  $("#groupby_btn").attr("data-action", 'apply_group');

}

$('.new_listing_containers:not([style*="display:none"]) .mla_collapse_cont').on('hide.bs.collapse', function(e){
  const faIcon = $(e.currentTarget).closest('.new_listing_containers').find('i.fa');
  faIcon.removeClass("fa-arrow-down");
  faIcon.addClass("fa-arrow-up");
});
$('.new_listing_containers:not([style*="display:none"]) .mla_collapse_cont').on('shown.bs.collapse', function(e){
  const faIcon = $(e.currentTarget).closest('.new_listing_containers').find('i.fa');
  faIcon.removeClass("fa-arrow-up");
  faIcon.addClass("fa-arrow-down");
});

/* ########################  Mlisting search and groupBy ######################## */
const mListingData = {
        index: {
            name: 'index',
            type: 'int'
        },
        platform: {
            name: 'platform',
            type: 'string'
        },
        unit_discount_price: {
            name: 'unit_discount_price',
            type: 'float'
        },
        unit_origin_price: {
            name: 'unit_origin_price',
            type: 'float'
        },
        quantity_threshold: {
            name: 'quantity_threshold',
            type: 'int'
        },
        active: {
            name: 'active',
            type: 'bool'
        },
        discount_start_date: {
            name: 'discount_start_date',
            type: 'datetime'
        },
        discount_end_date: {
            name: 'discount_end_date',
            type: 'datetime',
            value: null
        },
        currency_iso_code: {
            name: 'currency_iso_code',
            type: 'string'
        },
        shop_sku: {
            name: 'shop_sku',
            type: 'string'
        },
        offer_id: {
            name: 'offer_id',
            type: 'int'
        },
        reference: {
            name: 'reference',
            type: 'string'
        },
        reference_type: {
            name: 'reference_type',
            type: 'string'
        }
};

const mListingArgs ={
  index: 'data-groupby-index',
  platform: 'data-groupby-platform',
  unit_discount_price: 'data-groupby-unit_discount_price',
  unit_origin_price: 'data-groupby-unit_origin_price',
  quantity_threshold: 'data-groupby-quantity_threshold',
  active: 'data-groupby-active',
  discount_start_date: 'data-groupby-discount_start_date',
  discount_end_date: 'data-groupby-discount_end_date',
  currency_iso_code: 'data-groupby-currency_iso_code',
  shop_sku: 'data-groupby-shop_sku',
  offer_id: 'data-groupby-offer_id',
  reference: 'data-groupby-reference',
  reference_type: 'data-groupby-reference_type'
};


function getFormatedVal(searchVal, colType){
  switch(colType){
      case 'int':
        searchVal = (!isNaN(parseInt(searchVal))) ? parseInt(searchVal) : '';
        break;
      case 'bool':
        searchVal = (!isNaN(parseInt(searchVal))) ? (parseInt(searchVal) === 1) ? 1 : 0 : '';
        break;
      case 'float':
        searchVal = (!isNaN(parseFloat(searchVal))) ? parseFloat(searchVal) : '';
        break;
      case 'string':
        searchVal = (typeof(searchVal) === 'string') ? searchVal.toLowerCase() : '';
        break;
      case 'datetime':
        const parsedDate = Date.parse(searchVal);
        searchVal = (!isNaN(parsedDate)) ? new Date(searchVal) : '';
        break;
      default:
        break;
  }
  return searchVal;
}


function removeSearch(){
  $("#search_mlisting").val("");
  $("#search_mlisting").css('background', '');
  $(".search_hidden").show();
  $(".search_hidden").removeClass("search_hidden");
}

function searchMlisting(){
  const searchVal = $("#search_mlisting").val();
  const col = $("#search_select_col").val();
  const operator = $("#search_select_operator").val();
  const colType = (col && mListingData.hasOwnProperty(col)) ? mListingData[col].type : null;
  const dataArg = (col && mListingArgs.hasOwnProperty(col)) ? mListingArgs[col] : null;

  // show all hidden elements from any prev search
  $(".search_hidden").show();
  $(".search_hidden").removeClass("search_hidden");


  if (col && operator && colType && dataArg) {
      const typedVal = getFormatedVal(searchVal, colType);
      const searchRows = $(".new_listing_containers:not(:hidden)");
      searchRows.each((_i, elm)=>{
        if (typeof($(elm).attr(dataArg)) !== 'undefined'){
          const typedElmVal = getFormatedVal($(elm).attr(dataArg), colType);

          let hideElm = false;
          switch(operator) {
            case 'equal':
              hideElm = (typedElmVal == typedVal) ? false : true;
              break;
            case 'not_equal':
              hideElm = (typedElmVal != typedVal) ? false : true;
              break;
            case 'bigger':
              hideElm = (typedElmVal > typedVal) ? false : true;
              break;
            case 'lower':
              hideElm = (typedElmVal < typedVal) ? false : true;
              break;
            default:
              break;
          }
          if (hideElm){
            $(elm).find('.mla_list_select').prop('checked', false).trigger('change');            
            $(elm).addClass("search_hidden");
            $(elm).hide();
          }
        }
      });
      $("#search_mlisting").css('background', 'lightgreen');
  }

}

function updateSearchType(){
  const col = $("#search_select_col").val();
  if (col && mListingData.hasOwnProperty(col) && mListingData[col].hasOwnProperty('type') && mListingData[col]['type']){
    let inputType = 'text';
    if (mListingData[col]['type'] === 'int' || mListingData[col]['type'] === 'bool' || mListingData[col]['type'] === 'float') {
      inputType = 'number';
    } else if (mListingData[col]['type'] === 'datetime') {
      inputType = 'datetime-local';
    } else {
      inputType = 'text';
    }
    $("#search_mlisting").attr('type', inputType);
  }
}

/* Select Group only */
function toggleGroupCheck(e){
  const groupCont = $(e.currentTarget).closest('.groupby_cont');
  if (groupCont.length) {
    if ($(e.currentTarget).is(':checked')){
      groupCont.find('.new_listing_containers:not(:hidden) .mla_list_select').prop('checked', true).trigger('change');
    } else {
      groupCont.find('.mla_list_select').prop('checked', false).trigger('change');
    }
  }
}
/* cancel grouping and back elements ordered by index to main cont and remove all created group conts */
function cancelGroupBy() {
    $('.new_listing_containers').sort((l, r) => {
        const lVal = parseInt($(l).attr('data-groupby-index'));
        const rVal = parseInt($(r).attr('data-groupby-index'));
        return (lVal > rVal) ? 1 : -1;
    }).each((_i, elm) => {
        $("#mlisting_cont").append(elm);
    });
    $(".groupby_cont").remove();
}

/* based on data-action of group btn toggle between re-apply groupby and cancel (re-apply means start everytime from 0)*/
function toggleGroupBy() {
    // remove previous grouping
    cancelGroupBy();

    if ($("#groupby_btn").attr("data-action") == 'apply_group') {
        // apply group by
        const uniquePlatforms = {};
        let contI = 0;
        $(".mlisting_groupby").each((_i, elm)=>{
          const elmPlatform = $(elm).attr("data-groupby-platform");

          if (!uniquePlatforms.hasOwnProperty(elmPlatform)){
            contI += 1;

            const contId = `groupby_cont_${contI}`;
            $("#mlisting_cont").append($(`<div id="${contId}" class="groupby_cont">
               <div class="text-center">
                <h5 class="badge badge-primary">${elmPlatform} 
                <input type="checkbox" onchange="toggleGroupCheck(event)" /></h5></div>
               </div>`));
            
            uniquePlatforms[elmPlatform] = $(`#${contId}`);
            
          }
          uniquePlatforms[elmPlatform].append(elm);
        });

        $("#groupby_btn").removeClass("btn-warning");
        $("#groupby_btn").addClass("btn-danger");
        $("#groupby_btn").text("Cancel Grouping");
        $("#groupby_btn").attr("data-action", 'cancel_group');
    } else {
        // cancel group by

        $("#groupby_btn").removeClass("btn-danger");
        $("#groupby_btn").addClass("btn-warning");
        $("#groupby_btn").text("Group By Platform");
        $("#groupby_btn").attr("data-action", 'apply_group');
    }
}


$("#search_mlisting_click").on('click', searchMlisting);
$("#search_mlisting_clear").on('click', removeSearch);
$("#search_select_col").on("change", updateSearchType);
$("#groupby_btn").on('click', toggleGroupBy);
/* ########################  Mlisting search and groupBy ######################## */


/* Bluk insert automate */
let inputId = 0;
let contIds = 0;
let usedElmIds = [];
let timeout1 = timeout2 = null;
function clearBulkInsertInput(html=false, backAutomated=false){
  if (html){
    $("#bulk_insert_cont").html("");
    $("#bulk_insert").hide();
    $("#bulk_clear").hide();
    $("#bulk_listing_auto option[disabled]").removeAttr('disabled');
  }

  if (backAutomated){
    // back automated elements as default
    const checkedElms = $(".mla_list_select:checked");
    const targetElms = checkedElms.closest(".new_listing_containers").find('.used');
    const checkedElmParents = checkedElms.parent();
    targetElms.each((_i, elm)=>{
      if ($(elm).prop('nodeName').toLowerCase() === 'select') {
        $(elm).find('option:first').eq(0).prop('selected', 'selected').trigger('change');
      } else {
        $(elm).val("").trigger('change');
      }
    });
    checkedElmParents.removeClass('bg-success');    
  }
  usedElmIds = [];
}

function copyBulkElm(selectedClass, classOnly) {
    
    const selectedElm = $(`.${selectedClass}`).eq(0);
    const usedElmId = selectedElm.attr('id');

    if (!usedElmIds.includes(usedElmId)) {

      
      //if (selectedElm.attr('type')=='datetime-local'){return false;}
      contIds += 1;
      inputId += 1;
      const contId = `copy_cont_${contIds}`;

      const newElm = $(selectedElm.prop('outerHTML'));
      const newLabel = $(selectedElm.parent().find('label').prop('outerHTML'));
      const newCloseElm = $(`<button data-cont="#${contId}" type="button" class="btn btn-outline-danger btn-sm remove_copyelm align-self-start close_sm"><i class="fa fa-close"></i></button>`);
      newElm.attr('id', `copied_bulk_insert_${inputId}`);
      newElm.attr('data-selector', `.${selectedClass}`);
      newElm.attr('data-elmid', `.${selectedElm.attr('id')}`);
      newElm.get(0).classList = [];
      newElm.addClass('form-control bulk_insert_copy');
      newElm.attr('name', '');
      newElm.removeAttr('name');
      newLabel.attr('for', `copied_bulk_insert_${inputId}`);

      // apply remove cont of copy elm
      $(newCloseElm).on('click', (e)=>{
        const selectedCls = selectedClass;
        const elmId = usedElmId;
        if ($(e.currentTarget).attr('data-cont') && $($(e.currentTarget).attr('data-cont')).length){
          $($(e.currentTarget).attr('data-cont')).remove();
          // remove disabled form select copier (ux)
          $(`#bulk_listing_auto option[value='${classOnly}'][disabled]`).removeAttr('disabled');
          // remove coper block than second shield and main for block element already copied from recopy )
          const elmIdIndex = usedElmIds.indexOf(elmId);
          if (usedElmIds.indexOf(elmId) >= 0){
            usedElmIds.splice(elmIdIndex, 1);
          }
          if (usedElmIds.length === 0){
            // if last input removed back input selector to default which will also then hide action buttons 
            $("#bulk_listing_auto option:first").prop('selected', 'selected').trigger('change');
          }
        }
      });

      $("#bulk_listing_auto").find(':selected').attr('disabled', 'disabled');
      const headerCont = $('<div class="d-flex justify-content-between align-items-center"></div>').append(newLabel, newCloseElm);
      const bodyCont = $('<div></div>').append(newElm);
      const newElmCont = $(`<div id="${contId}" class="shadow m-1 p-2"></div>`).append(headerCont, bodyCont);
      $("#bulk_insert_cont").append(newElmCont);
      
  
      $("#bulk_clear").show();
      $("#bulk_insert").show();
      $("#bulk_insert").removeClass('btn-outline-primary');
      if (timeout1){
        clearTimeout(timeout1);
      }
      if (timeout2){
        clearTimeout(timeout2);
      }
      timeout1 = setTimeout(()=>{
        $("#bulk_insert").addClass('btn-primary');
        timeout2 = setTimeout(()=>{
          $("#bulk_insert").removeClass('btn-primary');
          $("#bulk_insert").addClass('btn-outline-primary');
        }, 50);
      }, 50);

      usedElmIds.push(usedElmId);

    }
}


$("#bulk_listing_auto").on('change', function(e){
  const selectedClass = `${$("#bulk_listing_auto").val()}.used`;
  const classOnly = $("#bulk_listing_auto").val();
  if (classOnly && selectedClass && $(`.${selectedClass}`).length && $("#bulk_insert_cont").length && $("#bulk_listing_auto").val() && $("#bulk_listing_auto").val() != '0' && $(`.${selectedClass}`).eq(0).attr('id')) {
    copyBulkElm(selectedClass, classOnly);
  } else {
    clearBulkInsertInput(html=true, backAutomated=false);
  }
});

// when any input bulk changed will add group by so can group by changed inputs not this inputs belongs to listings not catalogues so must get from input and this future action of user so each time update value and get updated js order and group obj, you need bulk insert so can apply filter not change inputs
function setInputGroupByVAL(elmVal, tElm, tParent){
  const nameAttr = $(tElm).attr('data-name');
  const dataName = typeof(nameAttr) === 'string' ? nameAttr.trim().toLowerCase() : '';
  
  let resultVal = elmVal;
  if (dataName){
     if (dataName == 'platform' && $(tElm).is("select")){
       // platform fix always make sure there is text in the platform it required and check
       resultVal = $(tElm).find('option:selected').text();
     }
     // note for group and order containers have default values for selected
     tParent.attr(`data-groupby-${dataName}`, resultVal);
  }
  return resultVal;
}

// when multiple listings change update parent
$(".multiple_listings_input").on('change', function(e){
  const tElm = $(e.currentTarget);
  setInputGroupByVAL(tElm.val(), tElm, tElm.closest(".new_listing_containers"));
})
$("#bulk_insert").on('click', function(){
  $(".bulk_insert_copy").each((i, elm)=>{
    const elmVal = $(elm).val();
    const targetElms = $(elm).attr('data-selector') ? $(".mla_list_select:checked").closest(".new_listing_containers").find($(elm).attr('data-selector')) : null;
    if (targetElms && targetElms.length){
      targetElms.each((n, tElm)=>{
         console.log(elmVal, $(tElm)[0], $(tElm).attr('data-name'), $(tElm).attr('data-type'));
         $(tElm).val(elmVal).trigger('change');

         // set data name and data-type in attr for group and order
         setInputGroupByVAL(elmVal, tElm, $(tElm).closest(".new_listing_containers"));
      
         //console.log($(tElm).val());
      });
      // targetElms.val($(elm).val()).trigger('change');
    }
  });
  $(".mla_list_select:checked").parent().addClass('bg-success');
});


$("#bulk_clear").on('click', function(){
  $("#bulk_listing_auto option:first").prop('selected', 'selected').trigger('change');
  clearBulkInsertInput(html=false, backAutomated=true);
});
/*
$("form").on('submit', (e)=>{
  console.log(e.currentTarget);
e.preventDefault();
});
*/
$("#mli_select_all").on('click', function(){
  // mlisting_cont will help when apply filter and temp hide rows so not select hidden elms and automate while filter applied
  $('#mlisting_cont .new_listing_containers:not(:hidden) .mla_list_select').prop('checked', true).trigger('change');
});

$("#mli_unselect_all").on('click', function(){
  $('#mlisting_cont .mla_list_select').prop('checked', false).trigger('change');
});


// remoev copy elements automaters
$("#addMultipleListingModal #add[type='submit']").on('click', function(){
  $(".bulk_insert_copy").remove();
});


</script>
{% endblock page_scripts %}