{% macro suppliers_forms(addform, editform, deleteform) %}
<div class="modal fade" id="addSupplierModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add Supplier</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            {% if addform %}
            <form id="add_supplier_form" method="post" action="{{url_for('routes.add_supplier')}}">
                {{addform.hidden_tag()}}                
                <div class="form-group">
                  {{addform.name.label}}
                  {{addform.name(class='form-control', placeholder='Enter Supplier Name', maxlength='80')}}
                </div>
                <div class="form-group">
                  {{addform.address.label}}
                  {{addform.address(class='form-control', placeholder='Enter Supplier Address', maxlength='125')}}
                </div>
                <div class="form-group">
                  {{addform.phone_add.label(class="d-block")}}
                  {{addform.phone_add(class='form-control', maxlength='45')}}
                </div>
                {{addform.add(class='btn btn-success btn-block')}}
            </form>
            {% else %}
            <div class="alert-danger">Unable to Display Add Supplier form right now.</div>
            {% endif %}
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
</div>
<div class="modal fade" id="editSupplierModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit Supplier</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            {% if editform %}
            <form id="edit_supplier_form" method="post" action="">
                {{editform.hidden_tag()}}
                <div class="form-group">
                  {{editform.name.label}}
                  {{editform.name(class='form-control', placeholder='Enter Supplier Name', maxlength='80')}}
                </div>
                <div class="form-group">
                  {{editform.address.label}}
                  {{editform.address(class='form-control', placeholder='Enter Supplier Address', maxlength='125')}}
                </div>
                <div class="form-group">
                  {{editform.phone_edit.label(class="d-block")}}
                  {{editform.phone_edit(class='form-control', maxlength='45')}}
                </div>                         
                {{editform.edit(class='btn btn-success')}}
            </form>
            {% else %}
            <div class="alert-danger">Unable to Display Edit Supplier form right now.</div>
            {% endif %}
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
</div>

<div class="modal fade" id="deleteSupplierModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Remove Supplier</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            {% if deleteform %}
            <form id="delete_supplier_form" method="post" action="">
                {{deleteform.hidden_tag()}}
                <p>Are you Sure you want remove supplier</p>
                {{deleteform.delete(class='btn btn-danger')}}
            </form>
            {% else %}
            <div class="alert-danger">Unable to Display Delete Supplier form right now.</div>
            {% endif %}
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
</div>
{% endmacro %}


{% macro listings_forms(delete_listings) %}
<div class="modal fade" id="removeListings">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Remove multiple catalogues</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>      
      <!-- Modal body -->
      <div class="modal-body">
        {% if delete_listings and delete_listings.listings_ids and delete_listings.delete_listings %}
        <p><span>You are going to delete</span><strong><span class="badge badge-danger mx-1" id="listings_ids_total">0</span></strong><span>items</span></p>
        <form id="remove_listings" action="{{url_for('routes.delete_listings')}}" method="post">
            {{delete_listings.hidden_tag()}}
            <div id="items" class="d-flex justify-content-start align-items-center flex-wrap p-2"></div>
            {{delete_listings.delete_listings(class='btn btn-danger btn-sm mt-3 btn-block')}}
        </form>
        {% else %}
        <div class="alert-danger">Unable to Display Remove Listings form right now.</div>
        {% endif %}
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>

{% endmacro %}

{% macro catalogues_forms(catalogues_excel, delete_catalogues, delete_all_catalogues, add_multiple_listings) %}
<div class="modal fade" id="importExcelCatalogues">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Import Catalogues From Excel</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        {% if catalogues_excel and catalogues_excel.excel_file %}
        <p>Please Upload Excel File, contains valid column tiltes.</p>
        <form action="{{url_for('main.import_catalogues_excel')}}" method="post" enctype="multipart/form-data">
            {{catalogues_excel.hidden_tag()}}
            {{catalogues_excel.excel_file(class='form-control')}}
            {{catalogues_excel.submit(class='btn btn-success btn-sm mt-3 btn-block')}}
        </form>
        {% else %}
        <div class="alert-danger">Unable to Display Upload Catalogues Excel Upload form right now.</div>
        {% endif %}
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>

<div class="modal fade" id="removeCatalogues">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Remove multiple catalogues</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>      
      <!-- Modal body -->
      <div class="modal-body">
        {% if delete_catalogues and delete_catalogues.catalogues_ids %}
        <p><span>You are going to delete</span><strong><span class="badge badge-danger mx-1" id="catalogues_ids_total">0</span></strong><span>items</span></p>
        <form id="remove_catalogues" action="{{url_for('routes.delete_catalogues')}}" method="post">
            {{delete_catalogues.hidden_tag()}}
            <div id="items" class="d-flex justify-content-start align-items-center flex-wrap p-2" style="overflow:auto;"></div>
            {{delete_catalogues.delete_catalogues(class='btn btn-danger btn-sm mt-3 btn-block')}}
        </form>
        {% else %}
        <div class="alert-danger">Unable to Display Remove Catalogues form right now.</div>
        {% endif %}
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>


<div class="modal fade" id="removeAllCatalogues">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Remove All catalogues</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>      
      <!-- Modal body -->
      <div class="modal-body">
        {% if delete_all_catalogues and delete_all_catalogues.delete_all %}
        <p>You are going to delete all catalogues in the system</p>
        <form id="remove_all_catalogues" action="{{url_for('routes.delete_all_catalogues')}}" method="post">
            {{delete_all_catalogues.hidden_tag()}}
            {{delete_all_catalogues.delete_all(class='btn btn-danger btn-sm mt-3 btn-block')}}
        </form>
        {% else %}
        <div class="alert-danger">Unable to Display Remove All Catalogues form right now.</div>
        {% endif %}
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>


<div class="modal fade" id="addMultipleListingModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Multiple Listings</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>      
      <!-- Modal body -->
      <div class="modal-body">
        {% if add_multiple_listings and add_multiple_listings.add and add_multiple_listings.platforms_selects is defined and add_multiple_listings.catalogue_ids is defined %}        
        <p><span>You Have selected</span><strong><span class="badge badge-primary mx-1" id="selected_catalogues_total">0</span></strong><span>Catalogues</span></p>
        <form id="add_multiple_listing" action="{{url_for('routes.multiple_listing_add')}}" method="post">
            {{add_multiple_listings.hidden_tag()}}
            <h5 class="text-center mt-2">Please select platforms for each listing</h5>
            {% for platform_select in add_multiple_listings.platforms_selects %}
            <div class="new_listing_containers mb-1 shadow-sm" id="container_{{loop.index}}" style="display:none;">
              {% if add_multiple_listings.catalogue_ids|length > loop.index0 %}
                <div class="row p-2">
                  <label class="listing_label col-sm-7"></label>
                  {{add_multiple_listings.platforms_selects[loop.index0](class='form-control multiple_platform_selects col-sm-5', style='display:none;')}}
                </div>   
                {{add_multiple_listings.catalogue_ids[loop.index0](class='multiple_platform_ids', style='display:none;')}}
              {% else %}
                {# if else must not occured only occured if 2 lists not equal for any reason #}
                <div class="alert alert-danger">Unable to display platforms data error please report this issue</div>
              {% endif %}
            </div>
            {% endfor %}

            {{add_multiple_listings.add(class='btn btn-success btn-sm mt-3 btn-block')}}
        </form>
        {% else %}
        <div class="alert-danger">Unable to Display Add Multiple Listings form right now.</div>
        {% endif %}
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>


{% endmacro %}


{% macro catalogue_forms(deleteform) %}
<div class="modal fade" id="deleteCatalogueModal">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Dashboard</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
         {% if deleteform and deleteform.catalogue_id %}
         <form id="remove_catalogue" method="post" action="">
          {{deleteform.hidden_tag()}}
          <p>Are you Sure you want remove catalogue</p>
          {{deleteform.delete(class='btn btn-danger')}}
         </form>
         {% else %}
         <div class="alert-danger">Unable to Display Remove Catalogue form right now.</div>
         {% endif %}
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>
{% endmacro %}


{% macro listing_forms(deleteform, delete_purchase, delete_order) %}
<div class="modal fade" id="deleteListingModal">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Listing</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
         {% if deleteform and deleteform.listing_id %}
         <form id="remove_listing" method="post" action="">
          {{deleteform.hidden_tag()}}
          <p>Are you Sure you want remove listing</p>
          {{deleteform.delete(class='btn btn-danger')}}
         </form>
         {% else %}
         <div class="alert-danger">Unable to Display Remove Listing form right now.</div>
         {% endif %}
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>

<div class="modal fade" id="deletePurchaseModal">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Purchase</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
         {% if delete_purchase and delete_purchase.purchase_id %}
         <form id="remove_purchase" method="post" action="">
          {{delete_purchase.hidden_tag()}}
          <p>Are you Sure you want remove purchase</p>
          {{delete_purchase.delete(class='btn btn-danger')}}
         </form>
         {% else %}
         <div class="alert-danger">Unable to Display Remove Purchase form right now.</div>
         {% endif %}
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>

<div class="modal fade" id="deleteOrderModal">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Order</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
         {% if delete_order and delete_order.order_id %}
         <form id="remove_order" method="post" action="">
          {{delete_order.hidden_tag()}}
          <p>Are you Sure you want remove order</p>
          {{delete_order.delete(class='btn btn-danger')}}
         </form>
         {% else %}
         <div class="alert-danger">Unable to Display Remove Order form right now.</div>
         {% endif %}
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>


{% endmacro %}

{% macro order_forms(deleteform) %}
<div class="modal fade" id="deleteOrderModal">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Order</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
         {% if deleteform and deleteform.order_id %}
         <form id="remove_order" method="post" action="">
          {{deleteform.hidden_tag()}}
          <p>Are you Sure you want remove order</p>
          {{deleteform.delete(class='btn btn-danger')}}
         </form>
         {% else %}
         <div class="alert-danger">Unable to Display Remove Order form right now.</div>
         {% endif %}
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>
{% endmacro %}

{% macro purchase_forms(deleteform) %}
<div class="modal fade" id="deletePurchaseModal">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Purchase</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
         {% if deleteform and deleteform.purchase_id %}
         <form id="remove_purchase" method="post" action="">
          {{deleteform.hidden_tag()}}
          <p>Are you Sure you want remove purchase</p>
          {{deleteform.delete(class='btn btn-danger')}}
         </form>
         {% else %}
         <div class="alert-danger">Unable to Display Remove Purchase form right now.</div>
         {% endif %}
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>
{% endmacro %}

{% macro supplier_forms(deleteform, delete_purchase_form) %}
<div class="modal fade" id="deleteSupplierModal">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Supplier</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
         {% if deleteform and deleteform.supplier_id %}
         <form id="remove_supplier" method="post" action="">
          {{deleteform.hidden_tag()}}
          <p>Are you Sure you want remove supplier</p>
          {{deleteform.delete(class='btn btn-danger')}}
         </form>
         {% else %}
         <div class="alert-danger">Unable to Display Remove Supplier form right now.</div>
         {% endif %}
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>

<div class="modal fade" id="deletePurchaseModal">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Purchase</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
         {% if delete_purchase_form and delete_purchase_form.purchase_id %}
         <form id="remove_purchase" method="post" action="">
          {{delete_purchase_form.hidden_tag()}}
          <p>Are you Sure you want remove purchase</p>
          {{delete_purchase_form.delete(class='btn btn-danger')}}
         </form>
         {% else %}
         <div class="alert-danger">Unable to Display Remove Purchase form right now.</div>
         {% endif %}
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>
{% endmacro %}


{% macro orders_forms(remove_order, action_redirect) %}
<div class="modal fade" id="removeOrderModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Remove Order</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        {% if remove_order and action_redirect %}
        <form id="remove_order_form" method="post" action="">
         {{remove_order.hidden_tag()}}
         <p>Are you Sure you want remove order</p>         
         {{remove_order.action_redirect(value=action_redirect, style='display:none !important;')}}
         {{remove_order.delete(class='btn btn-danger')}}
        </form>
        {% else %}
        <div class="alert-danger">Unable to Display Remove order form right now.</div>
        {% endif %}
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endmacro %}



{% macro reports_forms(export_form, action_url) %}
<div class="modal fade" id="filterModal">
  <div class="modal-dialog modal-lg">
    <div id="export_modal_content" class="modal-content" style="background: #3c5268e8 !important;">
      <!-- #869be8 !important #8196e2 !important;  #9dcd9ff7 !important #85c596 !important #f5b8ee !important -->
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><span class="badge badge-secondary shadow p-2">Export <strong id="filter_table_name"></strong></span></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        <div id="filter_loading_circle">
          <img src="{{url_for('static', filename='assets/images/loading_circle.gif')}}" alt="loading-circle" border="0" class="loading_circle" style="width:100%;">
        </div>        
        <div class="content_container" >
        
          <div id="ajax_flashes"></div>
          <div id="filter_content">
          {% if export_form and action_url %}
          <form id="filter_form" method="post" action="{{action_url}}">
           {{export_form.hidden_tag()}}
           <div class="form-group d-flex justify-content-between align-items-center">
            {{export_form.condition.label(class='text-light')}}
            {{export_form.condition(class='form-control ml-2 w-25')}}
            <button type="button" class="btn btn-light ml-auto" onclick="addFilterRow()">Add Condition</button>
           </div>
           <div class="form-group p-2" id="filter_form_cont"></div>
           {{export_form.export(class='btn-block mr-auto btn btn-primary mx-auto')}}           
          </form>
          {% else %}
          
          <div class="alert-danger">Unable to Display Remove order form right now.</div>
          {% endif %}
          
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
{% endmacro %}

{% macro setup_forms(add_platform, edit_platform, delete_platform, add_location, edit_location, delete_location, add_bin, edit_bin, delete_bin) %}
<div class="modal fade" id="addPlatformModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Platform</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        {% if add_platform %}
        <form id="add_platform_form" method="post" action="{{url_for('routes.add_platform')}}">
            {{add_platform.hidden_tag()}}                
            <div class="form-group">
              {{add_platform.name_add.label}}
              {{add_platform.name_add(class='form-control', placeholder='Enter Platform Name', maxlength='100')}}
            </div>
            {{add_platform.add(class='btn btn-success btn-block')}}
        </form>
        {% else %}
        <div class="alert-danger">Unable to Display Add Platform form right now.</div>
        {% endif %}
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editPlatformModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit Platform</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        {% if edit_platform %}
        <form id="edit_platform_form" method="post" action="">
            {{edit_platform.hidden_tag()}}                
            <div class="form-group">
              {{edit_platform.name_edit.label}}
              {{edit_platform.name_edit(class='form-control', placeholder='Edit Platform Name', maxlength='100')}}
            </div>
            {{edit_platform.edit(class='btn btn-success btn-block')}}
        </form>
        {% else %}
        <div class="alert-danger">Unable to Display Edit Platform form right now.</div>
        {% endif %}
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deletePlatformModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Remove Platform</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        {% if delete_platform %}
        <form id="remove_platform_form" method="post" action="">
         <p>Are you Sure you want remove Platform</p>
         {{delete_platform.hidden_tag()}}
         {{delete_platform.delete(class='btn btn-danger')}}
        </form>
        {% else %}
        <div class="alert-danger">Unable to Display Remove Platform form right now.</div>
        {% endif %}
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="addLocationModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Location</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        {% if add_location %}
        <form id="add_location_form" method="post" action="{{url_for('routes.add_location')}}">
            {{add_location.hidden_tag()}}                
            <div class="form-group">
              {{add_location.location_name_add.label}}
              {{add_location.location_name_add(class='form-control', placeholder='Enter Location Name', maxlength='255')}}
            </div>
            {{add_location.add(class='btn btn-success btn-block')}}
        </form>
        {% else %}
        <div class="alert-danger">Unable to Display Add Location form right now.</div>
        {% endif %}
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editLocationModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit Location</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        {% if edit_location %}
        <form id="edit_location_form" method="post" action="">
            {{edit_location.hidden_tag()}}                
            <div class="form-group">
              {{edit_location.location_name_edit.label}}
              {{edit_location.location_name_edit(class='form-control', placeholder='Edit Location Name', maxlength='255')}}
            </div>
            {{edit_location.edit(class='btn btn-success btn-block')}}
        </form>
        {% else %}
        <div class="alert-danger">Unable to Display Edit Location form right now.</div>
        {% endif %}
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="deleteLocationModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Remove Location</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        {% if delete_location %}
        <form id="remove_location_form" method="post" action="">
         <p>Are you Sure you want remove Location</p>
         {{delete_location.hidden_tag()}}
         {{delete_location.delete(class='btn btn-danger')}}
        </form>
        {% else %}
        <div class="alert-danger">Unable to Display Remove Location form right now.</div>
        {% endif %}
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="addBinModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Bin</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        {% if add_bin %}
        <form id="add_bin_form" method="post" action="">
            {{add_bin.hidden_tag()}}                
            <div class="form-group">
              {{add_bin.bin_name_add.label}}
              {{add_bin.bin_name_add(class='form-control', placeholder='Enter Bin Name', maxlength='255')}}
            </div>
            {{add_bin.add(class='btn btn-success btn-block')}}
        </form>
        {% else %}
        <div class="alert-danger">Unable to Display Add Bin form right now.</div>
        {% endif %}
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editBinModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit Bin</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        {% if edit_bin %}
        <form id="edit_bin_form" method="post" action="">
            {{edit_bin.hidden_tag()}}                
            <div class="form-group">
              {{edit_bin.bin_name_edit.label}}
              {{edit_bin.bin_name_edit(class='form-control', placeholder='Edit Bin Name', maxlength='255')}}
            </div>
            {{edit_bin.edit(class='btn btn-success btn-block')}}
        </form>
        {% else %}
        <div class="alert-danger">Unable to Display Edit Bin form right now.</div>
        {% endif %}
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteBinModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Remove Bin</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        {% if delete_bin %}
        <form id="remove_bin_form" method="post" action="">
         <p>Are you Sure you want remove Bin</p>
         {{delete_bin.hidden_tag()}}
         {{delete_bin.delete(class='btn btn-danger')}}
        </form>
        {% else %}
        <div class="alert-danger">Unable to Display Remove Bin form right now.</div>
        {% endif %}
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
