{% extends 'base.html' %}
{% block title %}{% if dashboard %}{{dashboard.title}}{% endif %}{% endblock %}
{% block page_description %}this is Dashboard page, can view/edit/delete dashboard and view/add/edit it's listings {% endblock %}
{% block body %}
<div class="container border rounded p-3">
  {% include 'messages.html' %}
  <img src="{{url_for('static', filename='assets/images/loading_circle.gif')}}" class="loading_circle" style="display:none;" />

  <div class="container-fluid content_container">
    {% if dashboard %}
    <div class="d-flex justify-content-end align-items-center flex-wrap">
    </div>
    <div class="row mt-2">
      <div id="info_part" class="border rounded col-4 p-3 d-flex justify-content-center align-items-start cursor-pointer text-decoration-none text-dark media_small_width_100">
        <div class="hover_shadow row container shadow p-3">
            <div class="col-sm-12 mb-3 text-center">
                <img src="{{url_for('static', filename='assets/images/default_dashboard.png')}}" alt="dashboard icon" width="150" class="mxwidth-150" />
                <h3 class="overflow_within title"><span class="badge badge-primary">{{dashboard.title}}</span></h3>
            </div>
            <div class="col-sm-12">
              <p class="overflow_within">Total Listings: <span class="total_listings">{% if dashboard.num_of_listings %}{{dashboard.num_of_listings}}{% else %}0{% endif %}</span></p>
            </div>
            <div class="col-sm-12">
              <p class="overflow_within">Total Orders: <span class="total_orders">{% if dashboard.num_of_orders %}{{dashboard.num_of_orders}}{% else %}0{% endif %}</span></p>
            </div>
            <div class="col-sm-12">
              <p class="overflow_within">Monthly Purchases: <span class="monthly_purchases">{% if dashboard.sum_of_monthly_purchases %}{{dashboard.sum_of_monthly_purchases}}{% else %}0{% endif %}</span></p>
            </div>
        </div>
      </div>
      <div id="main_part" class="col-sm-8 p-3 row border rounded">
        <div class="container">
          <div class="div border shadow rounded p-2">
            <h5 class="mt-2 mb-3"><span>Platforms: </span> 
              <button type="button" data-toggle="modal" data-target="#addPlatformModal" class="btn btn-success btn-sm" style="float:right;"><i class="fa fa-plus"></i></button></h5>
            <div class="row" style="max-height:300px;overflow: auto;">
              <!-- plateforms -->
              {% for platform in dashboard.platforms %}
              <div class="col-sm-12 row">
                <div class="col-sm-6">
                  <p style="word-break: break-word;">{{platform.name}}</p>
                </div>
                <div class="col-sm-6 text-right">
                  <button data-toggle="modal" data-url="{{url_for('routes.edit_platform', platform_id=platform.id)}}" data-platform-id="{{platform.id}}" data-platform-name="{{platform.name}}" data-target="#editPlatformModal" class="btn btn-sm btn-warning edit_platform" type="button"><i class="fa fa-edit"></i></button>
                  <button data-toggle="modal" data-url="{{url_for('routes.delete_platform', platform_id=platform.id)}}" data-platform-id="{{platform.id}}" data-target="#deletePlatformModal" class="btn btn-sm btn-danger wtform_modal_deletebtn" type="button"><i class="fa fa-remove"></i></button>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="alert alert-danger">Unable to Display Dashboard right now.</div>
    {% endif %}
  </div>
</div>

{% from 'forms.html' import home_forms %}
{{ home_forms(add_platform=add_platform, edit_platform=edit_platform, delete_platform=delete_platform) }}
{% endblock %}


{% block page_scripts %}
<script>
// noEffects = true;

//searchComponent('mid', 'swing');

addCollabseEndTableEffect(
  rowsSelector='.searching_card',
  closeOnlyBtn='.close_only_btn',
  closeOpenBtn='.close_open_btn',
  scrollIntoViewData={behavior: 'smooth', block: "center", inline: "nearest"}
);


collabse_listing_effect();

deleteWtformsModalProccess(dataAttId='data-platform-id', formId='remove_platform_form', idInputId='platform_id_remove', modalId='deletePlatformModal');


// handle fill edit modal form data
fillEditPlatForm();
</script>
{% endblock page_scripts %}