{% extends 'base.html' %}
{% block title %}Inventory{% endblock %}
{% block page_description %}this is home page for logged users in the application{% endblock %}
{% block body %}
<div class="container border rounded p-3">
  {% include 'messages.html' %}
  <img src="{{url_for('static', filename='assets/images/loading_circle.gif')}}" class="loading_circle" style="display:none;" />

  <div class="container-fluid content_container">

    <!-- settings menu-->
    <div id="settings_toast_cont">
      <button type="button" class="btn btn-outline-primary mb-1" id="open_settings">Settings</button>
      <div id="settings_toast" class="toast shadow" data-autohide="false" style="display:none">
         <div class="toast-header bg-dark text-white">
            <span><i class="fa fa-gear"></i> Settings</span>
         </div>
         <div class="toast-body">
            <div class="row">
               <div class="col-sm-12 d-flex justify-content-start align-items-center">
                  <label>Display: </label>
                  <select class="form-control ml-2" id="switch_display">
                     <option value="card">Card</option>
                     <option value="table" selected="selected">Table</option>
                  </select>
               </div>
            </div>
         </div>
      </div>
    </div>
    <!-- settings menu end-->
    <div class="d-flex justify-content-end align-items-center">
      <!-- Button to Open the Modal for add new dashboard -->
      <a href="{{url_for('routes.add_dashboard')}}" type="button" class="btn btn-primary">
        Add Dashboard
      </a>
    </div>

    <!-- search component -->
    <div class="row mt-2 mb-2">
      <div class="col-sm-11 mx-auto" title="search by id, Total Listings, Total Orders, Monthly Purchases">
        <form id="search_form" class="row">
          <input class="form-control col-sm-5" type="text" name="search_value" id="search_value" placeholder="search by id, Total Listings, Total Orders, Monthly Purchases" value=""/>
          <select class="form-control col-sm-4" name="search_by" id="search_by">
            <option value="">Search BY</option>
            <option class="search_column" value="id">ID</option>
            <option class="search_column" value="title">Title</option>
            <option class="search_column" value="num_of_listings">Total Listings</option>
            <option class="search_column" value="num_of_orders">Total Orders</option>
            <option class="search_column" value="sum_of_monthly_purchases">Monthly Purchases</option>
          </select>
          <button type="button" id="cancel_search" class="btn btn-sm col-sm-1 btn-danger" style="display:none;"><i class="fa fa-close"></i></button>
          <button type="submit" class="btn btn-success col-sm-2">Search</button>
        </form>
      </div>
    </div>
    <!-- search component end -->
    
    <!-- dashboards Pagination start -->
    <div id="dashboard_pag1" class="d-flex justify-content-center align-items-center mt-2"></div>
    <!-- Pagination end-->
    
    <div class="row" id="card_display" style="display:none;">
      <!-- Logged User Dashboards  -->
      {% if dashboards is defined %}
      {% for dashboard in dashboards %}
      <div class="searching_card col-4 p-3 d-flex justify-content-center align-items-center cursor-pointer text-decoration-none text-dark media_small_width_100"
      data-search-id="{{dashboard.id}}" data-search-title="{{dashboard.title}}" data-search-num_of_listings="{{dashboard.num_of_listings}}"
      data-search-num_of_orders="{{dashboard.num_of_orders}}" data-search-sum_of_monthly_purchases="{{dashboard.sum_of_monthly_purchases}}">
        <!-- Card Display -->
        <div class="hover_shadow row container border rounded shadow p-3">
          <div class="col-sm-12 mb-3 text-center">
            <img src="{{url_for('static', filename='assets/images/default_dashboard.png')}}" alt="dashboard icon" width="100" class="mxwidth-100" />
          </div>
          <div class="col-sm-12">
            <p class="overflow_within text-center  "><strong>{{dashboard.title}}</strong></p>
          </div>
          <div class="col-sm-12">
            <p class="overflow_within  ">Id: <span class="id">{{dashboard.id}}</span></p>
          </div>
          <div class="col-sm-12">
            <p class="overflow_within  ">Total Listings: <span class="total_listings">{{dashboard.num_of_listings}}</span></p>
          </div>
          <div class="col-sm-12">
            <p class="overflow_within  ">Total Orders: <span class="total_orders">{{dashboard.num_of_orders}}</span></p>
          </div>
          <div class="col-sm-12">
            <p class="overflow_within  ">Monthly Purchases: <span class="monthly_purchases">{{dashboard.sum_of_monthly_purchases}}</span></p>
          </div>
          <div class="col-sm-12 row">
            <div class="col-sm-12 d-flex justify-content-between align-items-center">
              <div>
                <a href="{{url_for('routes.view_dashboard', dashboard_id=dashboard.id)}}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
              </div>
              <div>
                <a href="{{url_for('routes.edit_dashboard', dashboard_id=dashboard.id)}}" class="btn btn-secondary"><i class="fa fa-edit"></i></a>
              </div>      
              <div>
                <a href="{{url_for('routes.listings', dashboard_id=dashboard.id)}}" class="btn btn-success">Listings</a>
              </div>                      
            </div>                               
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="alert alert-danger">Unable to Display Dashboards right now.</div>
      {% endif %}
    </div>
    <!-- Card Display End -->

    <!-- Table Display -->
    <div class="row" id="table_display">
        <!-- table display -->
        <div class="col-sm-12">         
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Icon</th>
                <th>Title</th>
                <th>Total Listings</th>
                <th>Total Orders</th>
                <th>Monthly Purchases</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% if dashboards is defined %}
              {% for dashboard in dashboards %}
              <tr class="searching_card" data-search-id="{{dashboard.id}}" data-search-title="{{dashboard.title}}" data-search-num_of_listings="{{dashboard.num_of_listings}}"
              data-search-num_of_orders="{{dashboard.num_of_orders}}" data-search-sum_of_monthly_purchases="{{dashboard.sum_of_monthly_purchases}}">
                <td>
                  <p class="overflow_within">{{dashboard.id}}</p>
                </td>
                <td>
                  <p class="overflow_within"><img src="{{url_for('static', filename='assets/images/default_dashboard.png')}}" alt="dashboard icon" width="50" class="mxwidth-50" /></p>
                </td>                
                <td>
                  <p class="overflow_within">{{dashboard.title}}</p>
                </td>
                <td>
                  <p class="overflow_within">{{dashboard.num_of_listings}}</p>
                </td>
                <td>
                  <p class="overflow_within">{{dashboard.num_of_orders}}</p>
                </td>
                <td>
                  <p class="overflow_within">{{dashboard.sum_of_monthly_purchases}}</p>
                </td>
                <td>
                  <div class="col-sm-12 row">
                    <div class="col-sm-12 d-flex justify-content-around align-items-center">
                      <div>
                        <a href="{{url_for('routes.view_dashboard', dashboard_id=dashboard.id)}}" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i></a>
                      </div>
                      <div>
                        <a href="{{url_for('routes.edit_dashboard', dashboard_id=dashboard.id)}}" class="btn btn-secondary btn-sm"><i class="fa fa-edit"></i></a>
                      </div>      
                      <div>
                        <a href="{{url_for('routes.listings', dashboard_id=dashboard.id)}}" class="btn btn-success btn-sm">Listings</a>
                      </div>                              
                  </div>
                </td>
              </tr>
              {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>      
    </div>
    <!-- Table Display End -->

    <!-- dashboards Pagination start -->
    <div id="dashboard_pag2" class="d-flex justify-content-center align-items-center mt-2"></div>
    <!-- Pagination end-->

  </div>
</div>
{% endblock %}


{% block page_scripts %}
<script>
/* Add Pagination component*/
const paginationBtns = {% if pagination_btns %}{{pagination_btns|tojson|safe}}{% else %}[]{% endif %};
const paginationPage = {{ request.args.get('page', 1) }};
displayPaginationComponent(paginationBtns, paginationPage, ['dashboard_pag1', 'dashboard_pag2']);

  

// noEffects = true;
/* add event listener for toggle bs4 toast and display settings menu for display table and card */
toggleSettingsToast();

searchComponent('mid', 'swing');
</script>
{% endblock page_scripts %}
