{% extends 'base.html' %}
{% block title %}Listing: {% if listing %}: {{listing.product_name}}{% endif %}{% endblock %}
{% block page_description %}this is Listing page, can view/edit/delete listing and view/add/edit it's Purchases and Orders {% endblock %}
{% block body %}
<div class="container border rounded p-3">
  {% include 'messages.html' %}
  <img src="{{url_for('static', filename='assets/images/loading_circle.gif')}}" class="loading_circle" style="display:none;" />

  <div class="container-fluid content_container">
    {% if listing %}
    <div class="d-flex justify-content-end align-items-center flex-wrap">
      <a href="{{url_for('routes.listings')}}" class="ml-2 btn btn-success">
        Back To Listings
      </a>
      <a href="{{url_for('routes.edit_listing', listing_id=listing.id)}}" class="ml-2 btn btn-primary">
        Edit Listing
      </a>
      <!-- need action-->
      <a href="{{url_for('routes.add_listing')}}" class="ml-2 btn btn-warning">
        Add New Listing
      </a>
      <a href="{{url_for('routes.view_catalogue', catalogue_id=listing.catalogue_id)}}" target="_blank" class="ml-2 btn btn-info">
        View Catalogue
      </a>
    </div>
    <div class="row mt-2">
      <div class="border rounded col-sm-4 p-3 d-flex justify-content-center align-items-start cursor-pointer text-decoration-none text-dark media_small_width_100">
        <div class="hover_shadow row container shadow p-3">
            <div class="col-sm-12 mb-3 text-center">                
                <img src="{{url_for('static', filename='assets/images/'~listing.image)}}" alt="listing icon yellow box" width="150" class="mxwidth-150" />
                <h3 class="overflow_within title"><span class="badge badge-dark">Id: </span><span> {{listing.id}}</span></h3>
            </div>
            <div class="col-sm-12">
              <p class="overflow_within"><span class="badge badge-info">SKU: </span><span> {{listing.sku}}</span></p>
            </div>
            <div class="col-sm-12">
              <p class="overflow_within"><span class="badge badge-dark">Quantity: </span><span> {{listing.quantity}}</span></p>
            </div>
            <div class="col-sm-12">
              <p class="overflow_within"><span class="badge badge-info">Price: </span><span> {{listing.price}}</span></p>
            </div>
            <div class="col-sm-12">
              <p class="overflow_within"><span class="badge badge-dark">Sale Price: </span><span> {{listing.sale_price}}</span></p>
            </div>
            <div class="col-sm-12">
              <p class="overflow_within"><span class="badge badge-info">Product Name: </span><span class="p-1 shadow break_word"> {{listing.product_name}}</span></p>
            </div>
            <div class="col-sm-12">
              <div class="overflow_within"><span class="badge badge-dark">Product Description: </span>
                <p class="p-1 shadow break_word overflow-350"> {{listing.product_description}}</p>
              </div>
            </div>            
            <div class="col-sm-12">
              <p class="overflow_within"><span class="badge badge-info">Brand: </span><span class="p-1 shadow"> {{listing.brand}}</span></p>
            </div>
            <div class="col-sm-12">
              <p class="overflow_within"><span class="badge badge-dark">Category Code: </span><span class="p-1 shadow"> {{listing.category_code}}</span></p>
            </div>
            <div class="col-sm-12">
              <p class="overflow_within"><span class="badge badge-info">Category Label: </span><span class="p-1 shadow"> {{listing.category_label}}</span></p>
            </div>
            <div class="col-sm-12">
              <p class="overflow_within"><span class="badge badge-dark">Category Level: </span><span class="p-1 shadow">{% if listing.catalogue and listing.catalogue.category %}{{listing.catalogue.level}}{% endif %}</span></p>
            </div>
            <div class="col-sm-12">
              <p class="overflow_within"><span class="badge badge-info">Category Parent Code: </span><span class="p-1 shadow">{% if listing.catalogue and listing.catalogue.category %}{{listing.catalogue.category.parent_code}}{% endif %}</span></p>
            </div>
            <div class="col-sm-12">
              <p class="overflow_within"><span class="badge badge-dark">Plateform: </span><span class="p-1 shadow">{{listing.platform.name}}</span></p>
            </div>
            <div class="col-sm-12">
              <p class="overflow_within"><span class="badge badge-info">Active: </span><span class="p-1 shadow"> {{listing.active}}</span></p>
            </div>
            <div class="col-sm-12">
              <p class="overflow_within"><span class="badge badge-dark">Discount Start Date: </span><span class="p-1 shadow"> {{listing.discount_start_date}}</span></p>
            </div>
            <div class="col-sm-12">
              <p class="overflow_within"><span class="badge badge-info">Discount End Date: </span><span class="p-1 shadow"> {{listing.discount_end_date}}</span></p>
            </div>
            <div class="col-sm-12">
              <p class="overflow_within"><span class="badge badge-dark">Unit Discount Price: </span><span class="p-1 shadow"> {{listing.unit_discount_price}}</span></p>
            </div>
            <div class="col-sm-12">
              <p class="overflow_within"><span class="badge badge-info">Quantity Threshold: </span><span class="p-1 shadow"> {{listing.quantity_threshold}}</span></p>
            </div>
            <div class="col-sm-12">
              <p class="overflow_within"><span class="badge badge-dark">Currency ISO Code: </span><span class="p-1 shadow"> {{listing.currency_iso_code}}</span></p>
            </div>
            <div class="col-sm-12">
              <p class="overflow_within"><span class="badge badge-info">Shop SKU: </span><span class="p-1 shadow"> {{listing.shop_sku}}</span></p>
            </div>
            <div class="col-sm-12">
              <p class="overflow_within"><span class="badge badge-dark">Offer ID: </span><span class="p-1 shadow"> {{listing.offer_id}}</span></p>
            </div>
            <div class="col-sm-12">
              <p class="overflow_within"><span class="badge badge-info">Reference: </span><span class="p-1 shadow"> {{listing.reference}}</span></p>
            </div>
            <div class="col-sm-12">
              <p class="overflow_within"><span class="badge badge-dark">Reference Type: </span><span class="p-1 shadow"> {{listing.reference_type}}</span></p>
            </div>
            <div class="col-sm-12">
              <span class="badge badge-dark">Locations: </span>
              <p class="overflow_within" style="max-height:180px !important;overflow: auto;">
                {% for catalogue_location in listing.catalogue.locations %}
                <div class="border border-secondary shadow p-1">
                  <h6 title="this is the location {{catalogue_location.warehouse_location.name}} and it's bins under it" class="badge shadow" style="display:block;">{{catalogue_location.warehouse_location.name}}</h6>
                  <div class="d-flex flex-row flex-wrap justify-content-between align-items-center p-2">
                    {% for catalogue_locations_bin in catalogue_location.bins %}
                      <span style="word-wrap: break-word;" title="This is Bin In Location {{catalogue_location.warehouse_location.name}}" class="badge badge-secondary">{{catalogue_locations_bin.bin.name}}</span>
                    {% endfor %}
                  </div>
                </div>
                {% endfor %}
              </p>              
            </div>
            <div class="col-sm-12">
              <div class="overflow_within"><span class="badge badge-info">Created At: </span>
                <p class="p-1 shadow"> {{listing.created_date}}</p>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="overflow_within"><p><span class="badge badge-dark">Updated At: </span>
                <p class="p-1 shadow"> {% if listing.updated_date %}{{listing.updated_date}}{% endif %}</p>
              </div>
              </p>
            </div>
            <div class="col-sm-12 row">
              <div class="col-sm-6">
                <button data-url="{{url_for('routes.delete_listing', listing_id=listing.id)}}" data-toggle="modal" 
                  data-target="#deleteListingModal" data-listing-id="{{listing.id}}" onclick="toggleLoadingCircle(true, 'block')" 
                  class="wtform_modal_deletebtn btn btn-danger btn-block">Delete
                </button>
             </div>
            </div>
        </div>
      </div>
      <div class="col-sm-8 p-3 row border rounded mx-auto d-flex justify-content-center align-items-center media_small_width_100">
        <!-- Purchases-->
        <div class="container">
          <div class="mt-1 mb-2 d-flex justify-content-between align-items-center">
            <h4>Purchases</h4>
            <div>
              <a href="{{url_for('routes.add_purchase_listing', listing_id=listing.id)}}" class="btn btn-outline-success">Add Purchase</a>
            </div>
          </div>

          <!-- search component -->
          <div class="row mt-2 mb-2">
            <div class="col-sm-11 mx-auto" title="search by id, quantity, Supplier Name">
              <form id="search_form" class="row">
                <input class="form-control col-sm-3" type="text" name="search_value" id="search_value" placeholder="search by id, quantity, Supplier Name" value=""/>
                <select class="form-control col-sm-3" name="search_by" id="search_by">
                  <option value="">Search BY</option>
                  <option class="search_column" value="id">ID</option>
                  <option class="search_column" value="quantity">Quantity</option>
                  <option class="search_column" value="supplier_name">Supplier Name</option>
                </select>
                <button type="button" id="cancel_search" class="btn btn-sm col-sm-1 btn-danger" style="display:none;"><i class="fa fa-close"></i></button>
                <select class="form-control col-sm-3" id="search_type">
                  <option value="all">all Pages</option>
                  <option value="current">Current Page</option>                  
                </select>
                <button type="submit" class="btn btn-success col-sm-2">Search</button>
              </form>
            </div>
          </div>
          <!-- search component end -->
          <div class="overflow-350">
              <table class="table table-bordered arrangable" id="table_display" data-ignore="3">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Quantity</th>
                    <th>Supplier Name</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% if listing.purchases %}
                  {% for purchase in listing.purchases %}
                  <tr class="searching_card"
                  data-search-id="{{purchase.id}}" data-search-quantity="{{purchase.quantity}}" data-search-supplier_name="{{purchase.supplier.name}}">
                    <td title="{{purchase.date}}" class="cursor-pointer">{{purchase.id}}</td>
                    <td>{{purchase.quantity}}</td>
                    <td>{{purchase.supplier.name}}</td>
                    <td>
                      <div class="d-flex justify-content-around align-items-center">
                        <a href="{{url_for('routes.view_purchase_listing', listing_id=listing.id, purchase_id=purchase.id)}}" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i></a>
                        <a href="{{url_for('routes.edit_purchase_listing', listing_id=listing.id, purchase_id=purchase.id)}}" class="btn btn-secondary btn-sm"><i class="fa fa-edit" ></i></a>
                        <button data-url="{{url_for('routes.delete_purchase_listing', listing_id=listing.id, purchase_id=purchase.id)}}" data-toggle="modal" 
                        data-target="#deletePurchaseModal" data-purchase-id="{{purchase.id}}" onclick="toggleLoadingCircle(true, 'block')" 
                        class="wtform_modal_deletebtn btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                        </div>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                  {% endif %}
                </tbody>
              </table>
          </div>
        </div>
        <!-- Orders-->
        <div class="container">
            <div class="mt-1 mb-2 d-flex justify-content-between align-items-center">
              <h4>Orders</h4>
              <div>
                <a href="{{url_for('routes.add_order', listing_id=listing.id)}}" class="btn btn-outline-success">Add Order</a>
              </div>
            </div>
            <!-- search component -->
            <div class="row mt-2 mb-2">
              <div class="col-sm-11 mx-auto" title="search by id, quantity, First Name, Last Name">
                <form id="search_form2" class="row">
                  <input class="form-control col-sm-3" type="text" name="search_value" id="search_value2" placeholder="search by id, quantity, First Name, Last Name" value=""/>
                  <select class="form-control col-sm-3" name="search_by2" id="search_by2">
                    <option value="">Search BY</option>
                    <option class="search_column2" value="id">ID</option>
                    <option class="search_column2" value="quantity">Quantity</option>
                    <option class="search_column2" value="first_name">First Name</option>
                    <option class="search_column2" value="last_name">Last Name</option>
                    <option class="search_column2" value="tax">Tax</option>
                    <option class="search_column2" value="shipping">Shipping</option>
                    <option class="search_column2" value="shipping_tax">Shipping Tax</option>
                    <option class="search_column2" value="commission">Commission</option>
                    <option class="search_column2" value="total_cost">Total Cost</option>
                  </select>
                  <button type="button" id="cancel_search2" class="btn btn-sm col-sm-1 btn-danger" style="display:none;"><i class="fa fa-close"></i></button>
                  <select class="form-control col-sm-3" id="search_type2">                    
                    <option value="all">all Pages</option>
                    <option value="current">Current Page</option>
                  </select>
                  <button type="submit" class="btn btn-success col-sm-2">Search</button>
                </form>
              </div>
            </div>
            <!-- search component end -->            
            <div class="overflow-350">
                <table class="table table-bordered arrangable" id="table_display2" data-ignore="3">
                  <thead>
                    <tr>
                      <th>Quantity</th>
                      <th>Full Name</th>
                      <th>Total Cost</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if listing.orders %}
                    {% for order in listing.orders %}
                    <tr class="searching_card2"
                    data-search-id="{{order.id}}" data-search-quantity="{{order.quantity}}" data-search-first_name="{{order.customer_firstname}}"
                    data-search-last_name="{{order.customer_lastname}}" data-search-tax="{{order.tax}}" data-search-shipping="{{order.shipping}}" data-search-shipping_tax="{{order.shipping_tax}}" data-search-commission="{{order.commission}}" data-search-total_cost="{{order.total_cost}}" title="{{order.date}}">
                      <td>{{order.quantity}}</td>                      
                      <td>{{order.customer_firstname}} {{order.customer_lastname}}</td>
                      <td>{{order.total_cost}}</td>
                      <td>
                        <div class="d-flex justify-content-around align-items-center">
                          <a href="{{url_for('routes.view_order', listing_id=listing.id, order_id=order.id)}}" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i></a>
                          <a href="{{url_for('routes.edit_order', listing_id=listing.id, order_id=order.id, redirect_url=url_for('routes.view_listing', listing_id=listing.id))}}" class="btn btn-secondary btn-sm"><i class="fa fa-edit"></i></a>

                          <button data-url="{{url_for('routes.delete_order', listing_id=listing.id, order_id=order.id)}}" data-toggle="modal" 
                          data-target="#deleteOrderModal" data-order-id="{{order.id}}" onclick="toggleLoadingCircle(true, 'block')" 
                          class="wtform_modal_deletebtn btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                          </div>

                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                  </tbody>
                </table>
            </div>
          </div>        
      </div>      
    </div>
    {% else %}
    <div class="alert alert-danger">Unable to Display Listing right now.</div>
    {% endif %}
  </div>
</div>
{% from 'forms.html' import listing_forms %}
{{ listing_forms(deleteform=deleteform, delete_purchase=delete_purchase, delete_order=delete_order) }}
{% endblock body %}


{% block page_scripts %}
{% if listing.id %}
<script>
// noEffects = true;
const listingId = {{listing.id}};

$('#deleteListingModal').on('shown.bs.modal', ()=>{toggleLoadingCircle(false, 'block');});
$('#deletePurchaseModal').on('shown.bs.modal', ()=>{toggleLoadingCircle(false, 'block');});
$('#deleteOrderModal').on('shown.bs.modal', ()=>{toggleLoadingCircle(false, 'block');});

/* function to dynamic fill wtform for delete any model using it's id and set dynamic url for form aswell (can used in any page) */
deleteWtformsModalProccess(dataAttId='data-listing-id', formId='remove_listing', idInputId='listing_id', modalId='deleteListingModal');

let publicOnDeleteBtnClickPurchase = deleteWtformsModalProccess(dataAttId='data-purchase-id', formId='remove_purchase', idInputId='purchase_id', modalId='deletePurchaseModal');

let publicOnDeleteBtnClickOrder = deleteWtformsModalProccess(dataAttId='data-order-id', formId='remove_order', idInputId='order_id', modalId='deleteOrderModal');
// search row ajax creation cb (based on desgin of each)
function rowOrderBuildCB(order){
    let rowHTML = '';
    if (order && order.id !== undefined && order.quantity !== undefined && order.date !== undefined && order.listing_id !== undefined && order.customer_firstname !== undefined &&  order.customer_lastname !== undefined && order.view_order !== undefined && order.edit_order !== undefined && order.delete_order !== undefined){
      
      const delete_click_event = (typeof(publicOnDeleteBtnClickOrder) == 'function' ? 'publicOnDeleteBtnClickOrder(event);' : '');
      console.log(delete_click_event);
      rowHTML = `
                  <tr class="searching_card2 search_all_card2"
                    data-search-id="${order.id}" data-search-quantity="${order.quantity}" data-search-first_name="${order.customer_firstname}"
                    data-search-last_name="${order.customer_lastname}" 
                    data-search-tax="${order.tax}" data-search-shipping="${order.shipping}" data-search-shipping_tax="${order.shipping_tax}" data-search-commission="${order.commission}" 
                    data-search-total_cost="${order.total_cost}" style="background: gainsboro!important;" title="This Row not belong to this page it returned from search all">
                      <td>${order.quantity}</td>                      
                      <td>${order.customer_firstname} ${order.customer_lastname}</td>
                      <td>${order.total_cost}</td>
                      <td>
                        <div class="d-flex justify-content-around align-items-center">
                          <a href="${order.view_order}" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i></a>
                          <a href="${order.edit_order}" class="btn btn-secondary btn-sm"><i class="fa fa-edit"></i></a>

                          <button data-url="${order.delete_order}" data-toggle="modal" 
                          data-target="#deleteOrderModal" data-order-id="${order.id}" onclick="toggleLoadingCircle(true, 'block');${delete_click_event}" 
                          class="wtform_modal_deletebtn btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                          </div>
                        </div>
                      </td>
                  </tr>
                  `;
    }
    return rowHTML;
}

function rowPurchaseBuildCB(purchase){
    let rowHTML = '';
    if (purchase && purchase.id !== undefined && purchase.quantity !== undefined && purchase.date !== undefined && purchase.supplier_name !== undefined && purchase.view_purchase_listing !== undefined && purchase.edit_purchase_listing !== undefined && purchase.delete_purchase_listing !== undefined){
      
      const delete_click_event = (typeof(publicOnDeleteBtnClickPurchase) == 'function' ? 'publicOnDeleteBtnClickPurchase(event);' : '');
      console.log(delete_click_event);
      rowHTML = `
                <tr class="searching_card search_all_card"
                  data-search-id="${purchase.id}" data-search-quantity="${purchase.quantity}" data-search-supplier_name="${purchase.supplier_name}" style="background: gainsboro!important;" title="This Row not belong to this page it returned from search all">
                    <td title="${purchase.date}" class="cursor-pointer">${purchase.id}</td>
                    <td>${purchase.quantity}</td>
                    <td>${purchase.supplier_name}</td>
                    <td>
                      <div class="d-flex justify-content-around align-items-center">
                        <a href="${purchase.view_purchase_listing}" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i></a>
                        <a href="${purchase.edit_purchase_listing}" class="btn btn-secondary btn-sm"><i class="fa fa-edit" ></i></a>
                        <button data-url="${purchase.delete_purchase_listing}" data-toggle="modal" 
                        data-target="#deletePurchaseModal" data-purchase-id="${purchase.id}" onclick="toggleLoadingCircle(true, 'block');${delete_click_event}" 
                        class="wtform_modal_deletebtn btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                        </div>
                      </div>
                    </td>
                </tr>
                `;
    }
    return rowHTML;
}

searchComponent('mid', 'swing', ()=>{return true;}, addon='', condition='*=', rowBuildCB=rowPurchaseBuildCB, table='listing_purchases', parent_id=listingId);

searchComponent('mid', 'swing', ()=>{return true;}, addon='2', condition='*=', rowBuildCB=rowOrderBuildCB, table='listing_orders', parent_id=listingId);

// add order by component to arrange table rows using table headers this consider level 2 of all components used
orderByColumnsComponent();
</script>
{% endif %}
{% endblock page_scripts %}