{% extends 'base.html' %}
{% block title %}Reports{% endblock %}
{% block page_description %}reports page, include export with filters, and charts {% endblock %}
{% block body %}
{% import 'forms.html' as forms %}
<div class="container border rounded p-3">
  {% include 'messages.html' %}
  <img src="{{url_for('static', filename='assets/images/loading_circle.gif')}}" class="loading_circle" style="display:none;" />    
  <div class="container-fluid content_container">
    <div class="d-flex justify-content-end align-items-center flex-wrap">
    </div>
    <!-- filters start -->
    <div class="container-fluid">

          <div class="mt-5 border container shadow p-3 row">
            <button type="button" class="mr-auto col-sm-2 btn btn-primary open_export btn-sm text-light width_20" style="min-width:18% !important;" data-toggle="modal" data-target="#filterModal" data-table="catalogue" data-url="{{url_for('main.get_filter_columns', table='catalogue')}}">
              Export Catalogues
            </button>
            <button type="button" class="col-sm-2 btn btn-secondary open_export btn-sm text-light width_20" style="min-width:18% !important;" data-toggle="modal" data-target="#filterModal" data-table="listing" data-url="{{url_for('main.get_filter_columns', table='listing')}}">
              Export Listings
            </button>
            <button type="button" class="col-sm-2 btn btn-success open_export btn-sm text-light width_20" style="min-width:18% !important;" data-toggle="modal" data-target="#filterModal" data-table="order" data-url="{{url_for('main.get_filter_columns', table='order')}}">
              Export Orders
            </button>
            <button type="button" class="col-sm-2 btn btn-info open_export btn-sm text-light width_20" style="min-width:18% !important;" data-toggle="modal" data-target="#filterModal" data-table="purchase" data-url="{{url_for('main.get_filter_columns', table='purchase')}}">
              Export Purchases
            </button>
            <button type="button" class="ml-auto col-sm-2 btn btn-warning open_export btn-sm text-light width_20" style="min-width:18% !important;" data-toggle="modal" data-target="#filterModal" data-table="supplier" data-url="{{url_for('main.get_filter_columns', table='supplier')}}">
              Export Suppliers
            </button>
          </div>
          <!-- The Filter Modal -->          
          {{forms.reports_forms(export_form=export_form, action_url='main.reports_export')}}
        

          <div class="mt-5 border container shadow p-3 textn-center">
            {% if charts_data is defined %}
            <img src="" />
            <script>
             chartsData = {{charts_data|tojson|safe}};
            </script>
            <div class="p-3 row">
              {% for chart in charts_data %}
              <div class="border border-light shadow-lg rounded text-center p-3 col-sm-6">
                <div class="p-5 bg-light">{{chart}}</div>
              </div>
              {% endfor %}
            </div>
            {% else %}
            <script>
              chartsData = null;
             </script>
            <div class="alert alert-danger text-center h">Unable to Display charts right now.</div>
            {% endif %}
          </div>

    </div>


  </div>


</div>

{% endblock %}
{% block page_scripts %}
<script>
//noEffects = true;
</script>
<script src="{{url_for('static', filename='assets/js/export.js')}}"></script>
{% endblock page_scripts %}

