{% extends 'base.html' %}
{% block title %}Setup{% endblock %}
{% block page_description %}setup page can used, to manage platforms, warehouse locations, and bins{% endblock %}
{% block head_data %}
{% endblock head_data %}
{% block body %}
<div class="container border rounded p-3">
  {% include 'messages.html' %}
  <img src="{{url_for('static', filename='assets/images/loading_circle.gif')}}" class="loading_circle" style="display:none;" />    
  <div class="container-fluid content_container">
    <div class="d-flex justify-content-end align-items-center flex-wrap">
    </div>
    <!--  Main -->
    <div class="container-fluid">
        <!-- Platforms Start -->
        <div class="container">
            {% if dashboard is defined and dashboard.platforms is defined %}
            <div class="div border shadow rounded p-2">
              <h5 class="mt-2 mb-3"><span>Platforms: </span> 
                <button type="button" data-toggle="modal" data-target="#addPlatformModal" class="btn btn-success btn-sm" style="float:right;"><i class="fa fa-plus"></i></button></h5>
              <div class="row" style="max-height:300px;overflow: auto;">
                <!-- plateforms -->
                {% for platform in dashboard.platforms %}
                <div class="col-sm-12 row">
                  <div class="col-sm-6">
                    <p style="word-break: break-word;">{{platform.name}}</p>
                  </div>
                  <div class="col-sm-6 text-right">
                    <button data-toggle="modal" data-url="{{url_for('routes.edit_platform', platform_id=platform.id)}}" data-platform-id="{{platform.id}}" data-platform-name="{{platform.name}}" data-target="#editPlatformModal" class="btn btn-sm btn-warning edit_platform" type="button"><i class="fa fa-edit"></i></button>
                    <button data-toggle="modal" data-url="{{url_for('routes.delete_platform', platform_id=platform.id)}}" data-platform-id="{{platform.id}}" data-target="#deletePlatformModal" class="btn btn-sm btn-danger wtform_modal_deletebtn" type="button"><i class="fa fa-remove"></i></button>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            {% else %}
            <div class="alert alert-danger">Unable to Display Platforms right now.</div>
            {% endif %}
        </div>
        <!-- Platforms End -->
        <!-- Locations start --> 
        <div class="container mt-3 mb-5" style="overflow: auto;">
            <div class="div border shadow rounded p-2">
                {% if dashboard is defined and dashboard.locations is defined %}
                <h5 class="mt-2 mb-3"><span>Locations: </span>
                <button type="button" data-toggle="modal" data-target="#addLocationModal" class="btn btn-success btn-sm" style="float:right;"><i class="fa fa-plus"></i></button></h5>

                <div id="accordion" style="max-height:300px;">
                {% for location in dashboard.locations %}
                    <div class="card shadow mb-3">
                       <div class="card-header" style="background-color: lavender;">
                          <h5>
                              <a class="card-link" data-toggle="collapse" href="#location_{{location.id}}">
                              {{location.name}}
                          </h5>
                          </a>
                       </div>
                       <div id="location_{{location.id}}" class="collapse{% if loop.index == 1 %} show{% endif %}" data-parent="#accordion">
                          <div class="card-body">
                            <div class="container row">
                                <button class="btn btn-warning btn-sm mr-1 edit_location" data-toggle="modal" data-location-id="{{location.id}}" data-location-name="{{location.name}}" data-url="{{url_for('routes.edit_location', location_id=location.id)}}" data-target="#editLocationModal">Edit <i class="fa fa-edit"></i></button>
                                <button class="btn btn-danger btn-sm wtform_modal_deletebtn" data-toggle="modal" data-target="#deleteLocationModal" data-url="{{url_for('routes.delete_location', location_id=location.id)}}" data-location-id="{{location.id}}">Delete <i class="fa fa-remove"></i></button>
                            </div>
                            <div class="container p-2 text-center">
                                <h6 class="mt-2 mb-3"><span>Bins: </span>
                                <button type="button" data-toggle="modal" data-target="#addBinModal" class="btn btn-success btn-sm wtform_modal_deletebtn" data-url="{{url_for('routes.add_bin', location_id=location.id)}}" data-location-id="{{location.id}}" style="float:right;">Add Bin <i class="fa fa-plus"></i></button></h6>
                                <div style="max-height:300px;" class="container mt-5">
                                {% for bin in location.bins %}
                                  <div class="shadow p-2 row justify-content-between align-items-center">
                                    <div>
                                        <span>{{bin.name}}</span>
                                    </div>
                                    <div>
                                        <button class="btn btn-warning btn-sm mr-1 edit_bin" data-toggle="modal" data-bin-id="{{bin.id}}" data-bin-name="{{bin.name}}" data-url="{{url_for('routes.edit_bin', location_id=location.id, bin_id=bin.id)}}" data-target="#editBinModal"><i class="fa fa-edit"></i></button>
                                        <button class="btn btn-danger btn-sm wtform_modal_deletebtn" data-toggle="modal" data-target="#deleteBinModal" data-url="{{url_for('routes.delete_bin', location_id=location.id, bin_id=bin.id)}}" data-bin-id="{{bin.id}}"><i class="fa fa-remove"></i></button>
                                    </div>
                                  </div>
                                {% endfor %}
                                </div>
                            </div>
                          </div>
                       </div>
                    </div>
                {% endfor %}
                </div>
                {% else %}
                <div class="alert alert-danger">Unable to Display Locations right now.</div>
                {% endif %}
            </div>
        </div>
        <!-- Locations end -->
    </div>
  </div>
</div>
{% from 'forms.html' import setup_forms %}
{{ setup_forms(add_platform=add_platform, edit_platform=edit_platform, delete_platform=delete_platform, add_location=add_location, edit_location=edit_location, delete_location=delete_location, add_bin=add_bin, edit_bin=edit_bin, delete_bin=delete_bin) }}
{% endblock %}

{% block page_scripts %}
<script>
deleteWtformsModalProccess(dataAttId='data-platform-id', formId='remove_platform_form', idInputId='platform_id_remove', modalId='deletePlatformModal');

deleteWtformsModalProccess(dataAttId='data-location-id', formId='remove_location_form', idInputId='location_id_remove', modalId='deleteLocationModal');

// use this dynamic function to handle also add bin child of location
deleteWtformsModalProccess(dataAttId='data-location-id', formId='add_bin_form', idInputId='location_id', modalId='addBinModal');

deleteWtformsModalProccess(dataAttId='data-bin-id', formId='remove_bin_form', idInputId='bin_id_remove', modalId='deleteBinModal');

// handle fill edit modal form data
fillEditPlatForm();
fillEditLocation();
fillEditBin();
</script>
{% endblock page_scripts %}

