{% extends 'base.html' %}
{% block title %}Supplier{% if supplier %}: {{supplier.name}}{% endif %}{% endblock %}
{% block page_description %}this is Supplier page, can view/edit/delete Supplier and view/add/edit it's Purchase requests {% endblock %}
{% block body %}
<div class="container border rounded p-3">
  {% include 'messages.html' %}
  <img src="{{url_for('static', filename='assets/images/loading_circle.gif')}}" class="loading_circle" style="display:none;" />

  <div class="container-fluid content_container">
    <a href="{{url_for('routes.suppliers')}}" class="ml-2 btn btn-light">
        Back To suppliers
    </a>
    {% if supplier %}
    <div class="d-flex justify-content-end align-items-center flex-wrap">
    </div>
    <div class="row mt-2">
      <div class="border rounded col-4 p-3 d-flex justify-content-center align-items-start cursor-pointer text-decoration-none text-dark media_small_width_100">
        <div class="hover_shadow row container shadow p-3">
            <div class="col-sm-12 mb-3 text-center">
                <img src="{{url_for('static', filename='assets/images/default_supplier.png')}}" alt="supplier icon" width="150" class="mxwidth-150" />
                <h3 class="overflow_within title">{{supplier.name}}</h3>
            </div>
            <div class="col-sm-12">
              <p class="overflow_within">Id: <span class="id">{{supplier.id}}</span></p>
            </div>
            <div class="col-sm-12">
              <p class="overflow_within">Date: <span class="total_listings">{{supplier.date}}</span></p>
            </div>
            <div class="col-sm-12">
              <p class="overflow_within">Quantity: <span class="total_orders">{{supplier.quantity}}</span></p>
            </div>
            <div class="col-sm-12">
              <p class="overflow_within">Total Purchases: <span class="monthly_purchases">{{supplier.purchases | count}}</span></p>
            </div>
            <div class="col-sm-12">
              <p class="overflow_within">Created At: <span class="total_orders">{{supplier.created_date}}</span></p>
            </div>
            <div class="col-sm-12">
              <p class="overflow_within">Updated At: 
                <span class="monthly_purchases">{% if supplier.updated_date %}{{supplier.updated_date}}{% endif %}</span>
              </p>
            </div>
            <div class="col-sm-12 row">
              <div class="col-sm-6">
                <button data-url="{{url_for('routes.delete_supplier', supplier_id=supplier.id)}}" data-toggle="modal" 
                  data-target="#deleteSupplierModal" data-supplier-id="{{supplier.id}}" onclick="toggleLoadingCircle(true, 'block')" 
                  class="wtform_modal_deletebtn btn btn-danger btn-block">Delete
                </button>
             </div>
            </div>
        </div>
      </div>      
      <div class="col-sm-8 p-3 row border rounded">
        <div class="container">
          <div class="mt-1 mb-2 d-flex justify-content-between align-items-center">
            <h4>Purchase Requests</h4>
            <div>
              <a href="{{url_for('routes.add_purchase_supplier', supplier_id=supplier.id)}}" class="btn btn-outline-success">Add Purchase</a>
            </div>
          </div>
          <div class="overflow_600">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Quantity</th>
                    <th>Listing</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  {% if purchases %}
                  {% for purchase in purchases %}
                  <tr>
                    <td>{{purchase.id}}</td>
                    <td>{{purchase.quantity}}</td>
                    <td>{{purchase.listing.product_name}}</td>
                    <td>{{purchase.date}}</td>
                    <td>
                      <div class="d-flex justify-content-around align-items-center">
                        <a href="{{url_for('routes.view_purchase_supplier', supplier_id=supplier.id, purchase_id=purchase.id)}}" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i></a>
                        <a href="{{url_for('routes.edit_purchase_supplier', supplier_id=supplier.id, purchase_id=purchase.id)}}" class="btn btn btn-secondary btn-sm"><i class="fa fa-edit"></i></a>
                        <button data-url="{{url_for('routes.delete_purchase_supplier', supplier_id=supplier.id, purchase_id=purchase.id)}}" data-toggle="modal" 
                        data-target="#deletePurchaseModal" data-purchase-id="{{purchase.id}}" onclick="toggleLoadingCircle(true, 'block')" 
                        class="wtform_modal_deletebtn btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                  {% endif %}
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="alert alert-danger">Unable to Display Supplier page right now.</div>
    {% endif %}
  </div>
</div>


{% from 'forms.html' import supplier_forms %}
{{ supplier_forms(deleteform=deleteform, delete_purchase_form=delete_purchase_form) }}
{% endblock body %}


{% block page_scripts %}
<script>
// noEffects = true;
$('#deleteSupplierModal').on('shown.bs.modal', ()=>{toggleLoadingCircle(false, 'block');});
$('#deletePurchaseModal').on('shown.bs.modal', ()=>{toggleLoadingCircle(false, 'block');});

deleteWtformsModalProccess(dataAttId='data-supplier-id', formId='remove_supplier', idInputId='supplier_id', modalId='deleteSupplierModal');
deleteWtformsModalProccess(dataAttId='data-purchase-id', formId='remove_purchase', idInputId='purchase_id', modalId='deletePurchaseModal');
</script>
{% endblock page_scripts %}